.user-tablet-detail-field-container {
  border-radius: 6px;
  background: var(--BG, #111);
  box-shadow: 0px 4px 20.1px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  /* padding: 16px 0px; */
}

.user-tablet-input-fields {
  height: 40px;
  padding: 0px 12px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020) !important;
  background: var(--BG2, #171717);
  /* Button shadow */
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
  font-size: 14px;
}

.add-modal-title-container {
  padding: 12px;
  border-bottom: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
  border-radius: 6px 6px 0px 0px;
}

.user-tablet-name-field-container {
  width: 50%;
}

.user-tablet-row {
  width: 50%;
}

.user-tablet-role {
  width: 100%;
}

.user-tablet-role-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020) !important;
  background: var(--BG2, #171717);
  box-shadow: 0px 3px 10.2px 0px rgba(0, 0, 0, 0.03);
  font-size: 14px;
}

.service-fee-description {
  font-size: 12px;
  padding: 12px 12px 0px 12px;
}

.user-tablet-service-fee-container {
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
}

.user-tablet-service-fee-value {
  padding: 8px 24px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  font-size: 24px;
  margin: 12px 0px;
  width: fit-content;
}

.service-fee-slider-container {
  width: 100%;
  padding: 12px;
  border-top: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
  border-radius: 0px 0px 6px 6px;
}

.user-tablet-service-fee-slider {
  width: 100%;
}

.user-tablet-service-fee-slider .ant-slider-track {
  background-color: #078bb9 !important;
  border-radius: 2px;
}

.user-tablet-service-fee-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #078bb9;
}

.user-tablet-footer-button {
  border-top: 1px solid var(--Dark, #202020);
  padding-block: 16px;
  margin-inline: 16px;
}

.user-tablet-cancel-button {
  height: 33px;
  width: 123px;
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid #111;
  background: var(--Dark, #202020);
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
  text-align: center;
}

.user-tablet-submit {
  height: 33px;
  padding: 6px 16px;
  border-radius: 6px;
  background: var(
    --grad,
    linear-gradient(262deg, #009bd2 -78.58%, #3b6b7c 188.93%)
  );
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
  width: 123px;
  text-align: center;
  gap: 0;
  align-items: center;
}

.user-tablet-input-fields > input.ant-input {
  border: none !important;
}

.user-tablet-back-button {
  font-size: 20px;
  font-weight: 500;
}

.user-tablet-view {
  padding: 0px 32px 20px 32px;
}

.user-tablet-title {
  font-size: 36px;
  font-weight: 500;
}

.user-tablet-head {
  margin-bottom: 40px;
}

.user-tablet-footer {
  border-top: 1px solid var(--Dark, #202020);
  padding: 16px 32px;
}

.user-tablet-back {
  width: fit-content;
}

@media (max-width: 480px) {
  .user-tablet-detail-field-container {
    flex-direction: column;
  }
  .user-tablet-row {
    width: 100%;
  }
}
