.card {
  border-radius: 1rem;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.imageWrapper {
  height: 15rem;
  background-color: gray;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.4;
}

.icons {
  position: absolute;
  top: 1.5rem;
  z-index: 4;
  right: 1.5rem;
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
}

.icons img {
  width: 1.2rem;
}

.body {
  padding: 1.5rem 2rem;
}

.name {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.description {
  max-height: 100px;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 140%;
  opacity: 0.6;
  margin-bottom: 1.5rem;
}

.price {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.buttonMain {
  background-color: #1595c2;
  padding: 1.6rem 0;
  text-align: center;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.modal h4 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  cursor: pointer;
}

.modalButtons > div {
  width: 100%;
}

.inputWrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 35vw;
}

.input {
  font-family: "Axiforma", sans-serif;
  background-color: transparent;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 1rem 1rem;
  width: 30rem;
  color: white;
  appearance: none;
  border-radius: 0.5rem;
}

@media (max-width: 900px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .body {
    padding: 1rem 2rem 2rem 2rem;
  }

  .inputWrapper {
    width: 45vw;
  }
}

@media (max-width: 650px) {
  .imageWrapper {
    height: 20rem;
  }

  .inputWrapper {
    width: 100%;
  }
}

.modalSubtitle {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.inputItem {
  margin-top: 1.8rem;
}
