.buttons {
  display: flex;
  gap: 1rem;
}

.buttons > div {
  cursor: pointer;
  transition: 0.5s ease-out;
}

.buttons > div:first-child {
  color: #0784b5;
}

.buttons > div:last-child {
  opacity: 0.6;
}

.buttons > div:first-child:hover {
  opacity: 0.6;
}

.buttons > div:last-child:hover {
  opacity: 1;
}
