.add-user_modal_title {
  font-size: 16px;
  font-weight: 500;
}

.add-user-modal .ant-modal-content {
  padding: 0px;
  background: var(--Dark, #202020);
  border-radius: 6px;
}

.add-user-modal .ant-modal-body {
  background: var(--BG, #111);
  border-radius: 0px 0px 6px 6px;
}

.add-user-detail-field-container {
  border-radius: 6px;
  background: var(--BG, #111);
  box-shadow: 0px 4px 20.1px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  padding: 16px 0px;
}

.add-user-input-fields {
  height: 40px;
  padding: 0px 12px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020) !important;
  background: var(--BG2, #171717);
  /* Button shadow */
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
  font-size: 14px;
}

.add-modal-title-container {
  padding: 12px;
  border-bottom: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
  border-radius: 6px 6px 0px 0px;
}

.add-user-left-row {
  padding: 0px 16px;
  border-right: 1px solid var(--Dark, #202020);
  min-width: 339px;
}

.add-user-right-row {
  padding: 0px 16px;
  min-width: 339px;
}

.add-user-role {
  width: 100%;
}

.add-user-role-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020) !important;
  background: var(--BG2, #171717);
  box-shadow: 0px 3px 10.2px 0px rgba(0, 0, 0, 0.03);
  font-size: 14px;
}

.service-fee-description {
  font-size: 12px;
  padding: 12px 12px 0px 12px;
}

.add-user-service-fee-container {
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
}

.add-user-service-fee-value {
  padding: 8px 24px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  font-size: 24px;
  margin: 12px 0px;
  width: fit-content;
}

.service-fee-slider-container {
  width: 100%;
  padding: 12px;
  border-top: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
  border-radius: 0px 0px 6px 6px;
}

.service-fee-slider {
  width: 100%;
}

.service-fee-slider .ant-slider-track {
  background-color: #078bb9 !important;
  border-radius: 2px;
}

.service-fee-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #078bb9;
}

.add-user-footer-button {
  border-top: 1px solid var(--Dark, #202020);
  padding-block: 16px;
  margin-inline: 16px;
}

.add-user-cancel-button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #111;
  background: var(--Dark, #202020);
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
  width: 125px;
  text-align: center;
}

.add-user-submit {
  padding: 6px 12px;
  border-radius: 6px;
  background: var(
    --grad,
    linear-gradient(262deg, #009bd2 -78.58%, #3b6b7c 188.93%)
  );
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
  width: 124px;
  text-align: center;
}

.add-user-input-fields > input.ant-input {
  border: none !important;
}

.add-user-modal .ant-modal-close {
  top: 7px;
}
