.sidebar-container {
  padding: 24px 16px;
  border-right: 1px solid var(--border-color, #202020);
  height: 100%;
}

.sidebar-menu {
  background-color: transparent;
  border-inline-end: none !important;
}
.sidebar-container li.ant-menu-item {
  margin: 4px 0;
  padding-left: 16px !important;
}
:where(
    .css-dev-only-do-not-override-ysyo1
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-ysyo1).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-ysyo1
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-ysyo1).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  color: rgba(255, 255, 255, 0.85) !important;
  background: transparent !important;
}

:where(.css-dev-only-do-not-override-ysyo1).ant-menu-light.ant-menu-inline
  .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-ysyo1).ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: transparent !important;
}

:where(
    .css-dev-only-do-not-override-ysyo1
  ).ant-menu-light.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-ysyo1).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-ysyo1
  ).ant-menu-light.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-ysyo1).ant-menu-light
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

.menuDivider {
  margin: 16px 0 !important;
}

/* .sidebar-menu::before .ant-menu-submenu .ant-menu-submenu-title {
  padding-left: 10px !important;
} */

.logo-divider {
  margin: 11px 0px;
}

.sidebar-menu .ant-menu-item-divider {
  margin: 16px 0px 8px 0px;
}

:where(
    .css-dev-only-do-not-override-1jknxed
  ).sidebar-menu.ant-menu-root.ant-menu-inline,
:where(.css-dev-only-do-not-override-1jknxed).sidebar-menu
  > .ant-menu.ant-menu-root.ant-menu-inline,
:where(
    .css-dev-only-do-not-override-1jknxed
  ).sidebar-menu.ant-menu-root.ant-menu-vertical,
:where(.css-dev-only-do-not-override-1jknxed).sidebar-menu
  > .ant-menu.ant-menu-root.ant-menu-vertical {
  border-inline-end: none;
}

:where(.css-dev-only-do-not-override-1yuxnot).sidebar-menu .ant-menu-item {
  height: 40px;
  line-height: 40px;
  padding-inline: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline: 4px;
  margin-block: 0px;
  width: calc(100% - 8px);
}

.ant-menu-item-selected {
  font-family: "DM-Sans";
  background-color: #202020 !important; /* Background color */
  color: #e9e9e9 !important; /* Text color */
}

.ant-menu-item:active {
  font-family: "DM-Sans";
  background-color: #202020 !important; /* Background color */
  color: #e9e9e9 !important; /* Text color */
}

.ant-menu-item,
.ant-menu-root {
  font-family: "DM-Sans";
}
@media screen and (min-width: 1200px) {
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    flex: 0 0 16.666666666666664%;
    max-width: 16.666666666666664%;
    width: 100%;
  }
  .user-block-mobile,
  .sidebar-menu-mobile,
  .logo-divider-mobile,
  .currency-block,
  .language-container {
    display: none !important;
  }
}
@media screen and (max-width: 1199px) {
  .language-container,
  .currency-block {
    border: none !important;
    padding: 4px 8px 4px 16px !important;
  }
  .currency-block .ant-select-selector,
  .language-container .ant-select-selector {
    border: none !important;
    background: none !important;
  }
  .localisation-container {
    width: 100% !important;
  }
  .sidebar-header {
    padding: 0 8px;
  }
  .sidebar-body {
    overflow: auto;
    height: 100%;
  }
}
