.landing-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3.6rem;
  color: #e9e9e9;
}

.landing-layout > div {
  width: 100%;
}

.crypto-manage-layout .layout-horizontal {
  padding: 0px !important;
}

.layout-horizontal {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
  padding: 0px 28px 28px 60px;
}

.landing-layout .world {
  background: #171717;
  border-block: 1px solid #202020;
  width: 100% !important;
  overflow: hidden;
  padding: 60px;
}

.landing-layout .cryptopayment {
  background: #171717;
  border-block: 1px solid #202020;
  width: 100vw !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}
.layout-world {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
}
.layout-cryptopayment {
  display: flex;
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
}
/* 
.layout-horizontal > div {
    width: 50%;
} */

.b2b-subtext,
.b2c-subtext {
  font-size: 2rem !important;
}

.hero-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  width: 60%;
}

.audience-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 4rem;
  width: 45%;
  padding-left: 4rem;
}

.api-block-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 4rem;
  width: 44%;
}

.audience-sub-title {
  width: 100%;
}
.api-block-sub-title {
  width: 95%;
}

.manage-title-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  width: 50%;
  padding-left: 4rem;
}

.world-title-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  width: 32%;
}

.cryptopayment-title-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  width: 40%;
}

.crypto-payment-first-block {
  padding: 60px;
  width: 50%;
}

.hero-layout h1,
.audience-layout h1,
.api-block-layout h1 {
  font-size: 5rem;
  line-height: 6rem;
}

.manage-title-layout h1 {
  width: 72%;
  font-size: 3.8rem;
  line-height: 5rem;
  font-weight: 500;
}
.world-title-layout h1 {
  font-size: 3.8rem;
  line-height: 5rem;
  font-weight: 500;
}
.cryptopayment-title-layout h1 {
  width: 75%;
  font-size: 3.8rem;
  line-height: 5rem;
  font-weight: 500;
}

.hero-layout p,
.audience-layout p,
.api-block-layout p {
  font-size: 1.6rem;
}

.hero-layout h1,
.hero-layout p {
  max-width: 111rem;
}

.manage-title-layout p {
  font-size: 1.6rem;
  width: 73%;
  /* width: 76%; */
}
.world-title-layout p {
  font-size: 1.6rem;
  width: 100%;
  /* width: 76%; */
}

.cryptopayment-title-layout p {
  font-size: 1.6rem;
  width: 90%;
  /* width: 76%; */
}
.cryptopayment-title-layout ul {
  padding-left: 2rem;
}
.cryptopayment-title-layout ul li {
  padding-bottom: 1rem;
}
.cryptopayment-title-layout li::marker {
  color: #387d91;
}

.wallet-bg-color {
  background-color: #171717;
}

.landing-layout .title {
  color: #e9e9e9;
}

.title-size {
  font-size: 3.8rem !important;
}
.landing-layout .sub-title {
  color: #b1b1b1;
  font-size: 1.6rem;
}

.sub-title-text-size {
  font-size: 1.2rem !important;
}

.landing-layout .button-container {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}
/* 
.landing-layout button {
  font-size: 1.4rem;
  padding: 1rem 3.6rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(23, 23, 23, 0.6);
  color: #111;
  background: linear-gradient(0deg, #fafafa -32.93%, #cfcfcf 187.8%);
  box-shadow:
    0px -2px 0px 0px #c9c9c9 inset,
    0px 1px 0px 0px #fff inset;
  cursor: pointer;
}

.landing-layout button:hover {
  background: linear-gradient(0deg, #fff 13.1%, #cfcfcf 187.8%);
  box-shadow:
    0px 78px 22px 0px rgba(239, 239, 239, 0),
    0px -8px 20px 0px rgba(239, 239, 239, 0.18),
    0px 28px 17px 0px rgba(239, 239, 239, 0.02),
    0px 12px 12px 0px rgba(239, 239, 239, 0.04),
    0px 3px 7px 0px rgba(239, 239, 239, 0.04);
}

.landing-layout button:active {
  background: linear-gradient(0deg, #e5e5e5 13.1%, #cfcfcf 187.8%);
  box-shadow:
    0px -1px 0px 0px #c9c9c9 inset,
    0px 1px 0px 0px #fff inset;
} */

.button-container a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.button-container span {
  font-size: 1.6rem;
}

.landing-layout .hero-img {
  position: relative;
  width: 50%;
}

.landing-layout .manage-img {
  display: flex;
  flex-direction: row-reverse;
  width: 55%;
}
.landing-layout .manage-img img {
  max-width: 100%;
}

.landing-layout .world-img {
  display: flex;
  flex-direction: row-reverse;
  width: 68%;
}

.landing-layout .audience-img {
  display: flex;
  flex-direction: row-reverse;
  width: 55%;
}
.landing-layout .api-block-img {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 56%;
}
.landing-layout .world-img img {
  max-width: 100%;
}

.landing-layout .audience-img img,
.landing-layout .api-block-img img {
  max-width: 100%;
}
.landing-layout .api-block-img img:last-child {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  z-index: 3;
}

.landing-layout .cryptopayment-img {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}
.landing-layout .cryptopayment-img img {
  max-width: 100%;
}

.landing-layout .hero-img img {
  border-radius: 1.6rem;
  border: 5px solid var(--Dark, #202020);
  background: rgba(32, 32, 32, 0.49);
  backdrop-filter: blur(6px);
}

.landing-layout .hero-img > div > img {
  border-radius: 1rem;
}

.landing-layout .layout-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  border: 1px solid var(--Dark-color-theme-Grey, #323232);
  background: var(--Dark-color-theme-BG2, #171717);
}
.audience {
  padding: 0 !important;
  background: #171717;
  border-block: 1px solid #202020;
  width: 100% !important;
  overflow: hidden;
}
.audience .layout-horizontal {
  padding: 0;
}
.b2b .api-block {
  margin-bottom: 8rem;
  background: #171717;
  width: 100vw !important;
  overflow: hidden;
}
.b2b .api-block .layout-horizontal {
  position: relative;
  max-width: 111rem;
  padding: 0;
}
.landing-layout .layout-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-inline: 2rem;
}

.landing-layout .layout-title .sub-title {
  max-width: 53rem;
}

.landing-layout .layout-title h1 {
  font-size: 3.8rem;
  line-height: 5rem;
  font-weight: 500;
}

.landing-layout .layout-title p {
  font-size: 1.8rem;
}

.landing-layout .layout-help {
  display: flex;
  height: 36rem;
  padding: 0;
  align-items: flex-start;
  gap: 0;
  border-top: 1px solid var(--Dark-color-theme-Grey, #323232);
  background: #202020;
  width: 100%;
}

.landing-layout .layout-manage {
  display: flex;
  width: 100%;
}

.landing-layout .layout-b2b-manage {
  display: flex;
  width: 100%;
  padding: 0;
}

.landing-layout .layout-feature {
  display: flex;
  width: 56%;
  height: 100%;
  gap: 1.6rem;
  flex-direction: column;
  align-items: flex-start;
  background: #171717;
  padding: 2rem;
  border-right: 1px solid var(--Dark-color-theme-Grey, #323232);
  background: var(--Dark-color-theme-Dark, #202020);
}

.landing-layout .feature {
  border-bottom: 1px solid var(--Dark-color-theme-Grey, #323232);
  width: 100%;
  padding-bottom: 1.6rem;
}

.landing-layout .feature-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.landing-layout .feature-body {
  padding: 0 4rem 0.8rem 1rem;
  font-size: 1.6rem;
}

.description-padding {
  padding: 0 !important;
}

.faq-container .feature-body {
  padding: 0 4rem 0.8rem 0rem;
}

.landing-layout .layout-feature-img,
.landing-layout .feature-img {
  width: 44%;
  height: 100%;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.landing-layout .feature-img {
  display: none;
}

.landing-layout .layout-feature-img > div {
  position: relative;
}

.landing-layout .layout-feature-img > div img {
  border-radius: 1rem;
  border: 1px solid #202020;
}

.landing-layout .ico-group {
  display: flex;
  gap: 0.8rem;
  position: relative;
  -webkit-mask-image: radial-gradient(
    72.46% 400.12% at 50% 50%,
    #fff 20%,
    #0000 90%
  );
}

.landing-layout .ico-wrapper {
  width: 2.8rem;
  height: 2.8rem;
  border: 1px solid #343434;
  background: #202020;
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-layout .ico-wrapper img {
  width: 1.4rem;
  height: 1.4rem;
}

.landing-layout .wallet-card {
  position: absolute;
  max-width: 28rem;
  display: flex;
  gap: 0;
  border: 1px solid #202020;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 5px 5px 8px #111;
}
.landing-layout .wallet-banner {
  position: relative;
  padding: 0.8rem 1.2rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.landing-layout .wallet-banner svg {
  fill: none !important;
  transform: translate(-2rem, -2rem);
}
.landing-layout .logo-wrapper {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-layout .logo-wrapper img {
  width: 2rem;
  height: 2rem;
}
.landing-layout .banner-back {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.landing-layout .wallet-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem 3rem 0.8rem 1rem;
  gap: 2rem;
}
.landing-layout .detail,
.landing-layout .wallet-body > div > p:nth-child(odd) {
  color: #b1b1b1;
}

.landing-layout .layout-benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.landing-layout .layout-benefits > div:first-child {
  width: 100%;
  height: 36rem;
  background: #1d1d1d;
  overflow: hidden;
  position: relative;
  border: 1px solid #323232;
}
.landing-layout .benefits div:first-child {
  width: 50%;
  /* height: 36rem; */
  background: #1d1d1d;
  overflow: hidden;
  position: relative;
  border: 1px solid #323232;
}

.benefits-padding {
  padding: 0 !important;
}

.landing-layout .outlook {
  padding: 3rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.landing-layout p {
  z-index: 5;
}
.landing-layout .outlook p:first-child,
.landing-layout .benefits > div > p:first-child {
  font-size: 2rem;
}
.landing-layout .outlook p:last-child,
.landing-layout .benefits > div > p:last-child {
  font-size: 1.6rem;
  max-width: 55%;
}
.landing-layout .benefits div:nth-child(2) > p {
  width: 55%;
}
.landing-layout .benefits .benefit2-description {
  margin-top: 18rem;
}

.landing-layout .layout-benefits .benefits {
  width: 100%;
  display: flex;
  gap: 2.8rem;
}

.landing-layout .benefits div:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.4rem;
}

.mobile-outlook-img {
  display: none;
}

@media screen and (max-width: 767px) {
  .web-outlook-options {
    display: none;
  }
  .mobile-outlook-img {
    display: initial !important;
    background-image: url("../../assets/landing/WalletImage-2.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    height: 47rem;
    border-radius: 15px;
  }

  .crypto-wallet-mobile-title {
    color: #b1b1b1;
    width: 60%;
    font-family: "DM Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .mobile-view-wallet-images {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}
.landing-layout .ico-card {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid #323232;
  background: #202020;
  border-radius: 0.6rem;
  padding: 0.4rem 1rem;
}
.landing-layout .ico-card img {
  width: 1.2rem;
}
.landing-layout .ico-card p {
  margin-top: 0.3rem;
  font-size: 0.9rem;
}

.landing-layout .layout-industry,
.landing-layout .layout-getting-started {
  background: #131313;
  padding-block: 8rem;
}

.landing-layout .layout-industry {
  border-radius: 16px;
  border: 1px solid var(--Dark-color-theme-Grey, #323232);
  background-image: url("../../assets/landing/industry-background.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.landing-layout .layout-getting-started {
  margin-top: 16rem;
  border-block: 1px solid #202020;
  width: 100vw !important;
  overflow: hidden;
  gap: 2.4rem !important;
}

.landing-layout .industry-card {
  border: 1px solid #323232;
  border-radius: 8rem;
  background: #202020;
  display: flex;
  align-items: center;
  padding: 4px;
}

.landing-layout .industry-card .ico-wrapper {
  border-radius: 8rem;
  border: none;
  background: #323232;
  width: 3.2rem;
  height: 3.2rem;
}

.landing-layout .industry-card p {
  font-size: 1.2rem;
  padding: 0.1rem 1rem 0 0.6rem;
  text-wrap: nowrap;
}

.landing-layout .slider {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  -webkit-mask-image: radial-gradient(60% 400% at 50% 50%, #fff 20%, #0000 76%);
}
.landing-layout .animation-wrapper {
  min-width: 160rem;
  position: relative;
  overflow: hidden;
}
.landing-layout .industry-wrapper1,
.landing-layout .industry-wrapper2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  padding-inline: 0.8rem;
  transform: translateX(0);
}
.landing-layout .industry-wrapper2 {
  transform: translateX(-100%);
  position: absolute;
  top: 0;
}

.landing-layout .move-right1,
.landing-layout .move-right2,
.landing-layout .move-left1,
.landing-layout .move-left2 {
  animation-name: anim-right1;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.landing-layout .move-right2 {
  animation-name: anim-right2;
}
.landing-layout .move-left1 {
  animation-name: anim-left1;
}
.landing-layout .move-left2 {
  animation-name: anim-left2;
}

@keyframes anim-right1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes anim-right2 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes anim-left1 {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes anim-left2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* scroll animation */
.landing-layout .scroll-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
  position: relative;
  padding: 0rem 5rem;
}

.landing-layout .text-part {
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.landing-layout .img-part {
  width: 72%;
  height: min-content;
  /* -webkit-mask-image: linear-gradient(to bottom, #fff 40%, #fff0 96%); */
}

.landing-layout .image-transition {
  transition: 0.5s;
  width: 100%;
  /* border: 0.8rem solid #202020; */
}

.landing-layout .feature-heading {
  padding-block: 7.2rem 32rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.6rem;
  position: relative;
}
.landing-layout .feature-heading:last-child {
  padding-block: 0rem 39.2rem;
}

.landing-layout .feature-heading p {
  font-size: 2.8rem;
}
.landing-layout .feature-heading p:nth-last-child(2) {
  font-size: 1.8rem;
}

.landing-layout .multi-wallet-management {
  display: flex;
  position: relative;
  justify-content: center;
}

.landing-layout .multi-wallet-management > div > p:first-child {
  font-size: 2rem;
}
.landing-layout .multi-wallet-management > div > p:last-child {
  font-size: 1.4rem;
}

.landing-layout .multi-wallet-management > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  position: relative;
}

.landing-layout .wallet-internal {
  width: 30%;
  padding: 4rem 3rem 2rem 2rem;
  border-inline: 1px solid #202020;
  overflow: hidden;
}

.landing-layout .wallet-external {
  padding: 4rem 2rem 10rem 2rem;
  width: 85%;
  margin-right: -16rem;
  -webkit-mask-image: linear-gradient(to right, #fff 90%, #fff0);
}

.landing-layout .wallet-external > p {
  width: 40rem;
}

.landing-layout .wallet-club {
  border-radius: 1rem;
  border: 1px solid #202020;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  background: #171717;
  box-shadow: 5px 5px 10px #070707;
  font-size: 1.4rem;
  max-width: 56rem;
  z-index: 1;
}

.landing-layout .ico-card-wallet {
  padding: 0.4rem 0.4rem 0.2rem 0.4rem;
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  border: 2px dashed #202020;
  position: absolute;
}

.landing-layout .ico-card-wallet img {
  width: 24rem;
  border-radius: 0.6rem;
}

.landing-layout .layout-transactions {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.landing-layout .transaction-description {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 3rem;
}

.landing-layout .transaction-img {
  width: 70%;
  border-right: 1px solid #323232;
}
.landing-layout .transaction-img img {
  width: 100%;
}

.landing-layout .layout-invoicing,
.landing-layout .layout-security {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #1e1e1e;
  border: 1px solid var(--Dark-color-theme-Grey, #323232);
  border-radius: 16px;
  overflow: hidden;
}

.landing-layout .invoicing-step-wrapper {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
  border-right: 1px solid var(--Dark-color-theme-Dark, #202020);
}

.landing-layout .invoicing-step {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1.2rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--Dark-color-theme-Grey, #323232);
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.landing-layout .invoicing-step:hover {
  background: #202020;
}
.landing-layout .invoicing-step-selected {
  background: #202020;
  border: 1px solid #e9e9e9;
}

.landing-layout .invoicing-step img {
  width: 1.4rem;
  height: 1.4rem;
}

.landing-layout .invoicing-step p:last-child {
  font-size: 1.6rem;
}

.landing-layout .invoicing-img {
  width: 65%;
  /* object-fit: cover; */
  overflow: hidden;
  border-inline: 1px solid #202020;
  position: relative;
}

.landing-layout .invoicing-img img {
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-out;
}

.landing-layout .invoicing-img img.visible {
  position: static;
  opacity: 1;
}

.landing-layout .layout-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.landing-layout .product-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.landing-layout .product-img img {
  width: 100%;
  position: absolute;
  border-radius: 1rem;
  border: 2px solid #202020;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.landing-layout .product-img-showed {
  opacity: 1 !important;
  position: static !important;
}

.landing-layout .product-creation-step {
  display: flex;
  gap: 2rem;
  align-items: start;
}

.landing-layout .product-step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  border-top: 2px solid #202020;
  cursor: pointer;
  position: relative;
}
.landing-layout .product-step hr {
  position: absolute;
  top: -2px;
  left: 0;
  border: none;
  z-index: 10;
  border-top: 2px solid #e9e9e9 !important;
}

.landing-layout .product-step-selected {
}

.landing-layout .product-step p:first-child {
  font-size: 2rem;
}

.landing-layout .product-step p:last-child {
  font-size: 1.6rem;
}
.landing-layout .translate-left {
  left: -32rem;
}
.landing-layout.home .hero-img img {
  width: 24rem;
}
.landing-layout.home .hero-img img:last-child {
  position: absolute;
  top: 4.4rem;
  right: 0;
}

.landing-layout .hero > img {
  position: absolute;
  z-index: -1;
}
.landing-layout .help {
  gap: 8rem;
  /* padding-block: 16rem; */
  padding-top: 8rem;
}
.landing-layout .manage {
  padding-block: 12rem;
}
.landing-layout .b2c-manage {
  padding-block: 4rem;
}
.benefits-block-left {
  background-image: url("../../assets/landing/benefit1.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 50%;
}
/* .landing-layout .b2b-manage {
  padding-block: 10rem;
} */
/* .landing-layout .benefits img {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
} */
.landing-layout .feature-heading > img:last-child {
  display: none;
  width: 100%;
  border: 5px solid #202020;
  -webkit-mask-image: linear-gradient(to bottom, #fff 40%, #fff0 96%);
}
.landing-layout .main-feature {
  padding-block: 0 0;
  /* margin-bottom: 16rem; */
  width: 100%;
  background: #131313;
  border-bottom: 1px solid #202020;
  border-radius: 0px 0px 16px 16px;
}
.landing-layout .safe-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.landing-layout .safe-bottom {
  display: flex;
  gap: 2rem;
}
.landing-layout hr {
  border-top: 1px solid #202020;
  border-left: 1px solid #202020;
  border-bottom: none;
  border-right: none;
  position: absolute;
  z-index: -1;
}
.layout-community {
  align-items: start !important;
  padding: 5rem;
}
.layout-community .layout-title {
  padding: 0;
  text-align: left;
  align-items: start;
  max-width: 64rem;
}

.community-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
}
.community {
  display: flex;
  align-items: start;
  padding: 2rem;
  gap: 1.4rem;
}
.community:hover {
  background: #202020;
  border-radius: 0.8rem;
}
.community > img {
  width: 3.2rem;
}
.community-body h3 {
  color: #e9e9e9;
  font-size: 2rem;
}
.community-body img {
  width: 1.2rem;
  margin-left: 0.4rem;
}
.community-container .community:last-child .community-body img {
  display: none;
}
.community-body p {
  color: #b1b1b1;
  font-size: 1.6rem;
  margin-top: 0.6rem;
}

.crypto-wallet-subtext {
  max-width: 40% !important;
}

.dashboard-image-container {
  padding: 8px;
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0.4) 48.01%,
    rgba(115, 115, 115, 0) 88.64%
  );
  backdrop-filter: blur(23.5px);
}

.faq-container {
  padding: 4rem;
  align-self: stretch;
  background: #171717;
  border: 1px solid #323232;
  border-radius: 16px;
}

.faq-first-section {
  font-size: 3.8rem;
  font-weight: 500;
}

.faq-first-section-text {
  color: #b1b1b1;
  font-size: 1.8rem;
  width: 80%;
}

.faq-contact-text {
  color: #fafafa;
  font-size: 1.8rem;
}

.faq-list {
  width: 50%;
  height: 100%;
  background: #171717;
}

.crypto-payment-container {
  width: 100vw !important;
}

.crypto-payment-subtext1 {
  width: 65%;
}

.crypto-payment-subtext2 {
  width: 60%;
}

.crypto-payment-title {
  font-size: 3rem;
  font-weight: 500;
}

.crypto-payment-second-block {
  padding: 60px;
  width: 50%;
  background: #171717;
  background-image: url("../../assets/landing/best-suited-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.best-suited {
  font-size: 2.2rem;
  font-weight: 500;
}

.best-suited-list li {
  list-style: none;
}

.best-suited-list li::before {
  content: "\2022";
  color: #387d91;
  display: inline-block;
  width: 1em;
}

.crypto-payment-subtext {
  font-size: 1.2rem !important;
}

.b2b-banner {
  background-image: url("../../assets/landing/b2b-banner-bg.png") !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.b2b-invoice-section,
.b2b-product,
.landing-layout .analytics,
.security {
  padding: 5rem;
}

.b2c-hero {
  background-image: url("../../assets/landing/b2c-hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  border: 1px solid #323232;
  /* background: rgba(23, 23, 23, 0.85); */
  box-shadow:
    0px 863px 242px 0px rgba(0, 0, 0, 0),
    0px 552px 221px 0px rgba(0, 0, 0, 0.01),
    0px 311px 186px 0px rgba(0, 0, 0, 0.05),
    0px 138px 138px 0px rgba(0, 0, 0, 0.09),
    0px 35px 76px 0px rgba(0, 0, 0, 0.1);
}

.b2c-multi-wallet {
  align-items: start !important;
  gap: 0 !important;
}

.multi-wallet-head {
  padding: 4rem;
}

.multi-wallet-border {
  border: 1px solid #323232;
}

.multi-wallet-title {
  font-size: 3.8rem;
  line-height: 5rem;
  font-weight: 500;
}

.multi-wallet-subtitle {
  font-size: 1.6rem;
  max-width: 52rem;
}

.audience-title {
  font-size: 3.8rem !important;
}

.main-feature-head {
  gap: 1rem !important;
  padding-block: 8rem;
  width: 100% !important;
  border: none !important;
  background: #131313 !important;
}

.b2c-banner-image {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 50%;
}

.mobile-b2c-image,
.multi-wallet-mobile-view {
  display: none;
}

.mobile-b2b-hero {
  display: none;
}

.benefits-block-right {
  border-radius: 16px;
  width: 50%;
}

@media (max-width: 900px) {
  .benefits-block-right {
    width: 100%;
  }
  .landing-layout .benefits div:first-child {
    width: 100% !important;
    height: 47rem;
  }
  .audience-layout {
    padding-left: 0px;
  }
  .landing-layout .feature-header {
    padding: 1rem 1rem 1rem 0rem;
    font-size: 1.8rem;
  }
  .landing-layout .feature-body {
    padding: 0 4rem 0.8rem 0rem;
    font-size: 1.4rem;
  }

  .web-b2b-hero {
    display: none;
  }
  .mobile-b2b-hero {
    display: block;
  }
  .landing-layout .main-feature {
    padding-block: 1rem;
  }
  .multi-wallet-head {
    padding: 4rem 0rem;
    text-align: center;
  }
  .multi-wallet-mobile-view {
    display: flex;
    margin: 20px;
  }
  .multi-wallet-mobile-view .multi-wallet-subtitle {
    margin: auto;
  }
  .b2c-banner {
    padding: 0px 20px 20px 0px !important;
  }
  .b2c-hero-layout {
    padding-left: 20px;
  }
  .b2c-multi-wallet,
  .b2c-banner-image {
    display: none !important;
  }
  .mobile-b2c-image {
    width: 100%;
    display: block;
  }
  .b2c-hero {
    background: none;
    border: none;
  }
  .landing-layout .layout-paragraph {
    border-radius: 0;
    border: none;
    background: none;
    padding: 40px 20px !important;
  }

  .main-feature-head {
    background: none !important;
  }

  .b2b-banner {
    background: none !important;
    padding-top: 0rem !important;
  }

  .help-subcontainer {
    border: 1px solid #323232;
    border-radius: 16px;
  }

  .help-subcontainer:has(> .layout-paragraph) {
    background: none;
  }

  .landing-layout .main-feature {
    background: none;
    border-bottom: none;
    border-radius: 0px;
  }

  .landing-layout .feature-heading:last-child {
    padding-block: 0rem 5rem;
  }

  .faq-container {
    padding: 32px 20px;
    border-radius: 0px;
    flex-direction: column;
  }

  .faq-container > div {
    width: 100%;
  }

  .crypto-payment-container {
    flex-direction: column;
  }
  .crypto-payment-first-block,
  .crypto-payment-second-block {
    width: 100%;
  }
  .audience .layout-horizontal {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 5rem;
    padding-right: 5rem; */
    /* padding: 40px 20px; */
    gap: 4rem !important;
  }
  .b2b .api-block .layout-horizontal {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 4rem !important;
  }
  .api-block-sub-title {
    width: 100%;
  }
  .manage-title-layout p {
    width: 100%;
  }
  .manage-title-layout h1 {
    width: 100%;
  }
  .landing-layout .hide-in-tablet {
    display: none;
  }
  .landing-layout .translate-left {
    left: -8rem;
  }
  .landing-layout .hero {
    padding-top: 8rem;
  }
  .landing-layout .hero h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .landing-layout .layout-horizontal {
    flex-direction: column;
    gap: 2rem;
  }
  .landing-layout .hero-layout,
  .landing-layout .audience-layout,
  .landing-layout .api-block-layout {
    width: 100% !important;
    gap: 2rem;
  }
  .landing-layout.home .hero {
    padding-bottom: 0;
  }
  .manage-title-layout {
    padding-left: 0rem;
  }
  .b2b-banner .hero-img {
    width: 100% !important;
  }
  .b2b-mobile-view {
    padding: 0px;
  }
  .b2b-mobile-view div:first-child {
    margin-bottom: 6rem !important;
  }
  .landing-layout.home .hero-img {
    transform: translateX(-4rem);
  }
  .landing-layout.home .hero-img img {
    width: 16rem;
  }
  .landing-layout.home .hero-img img:last-child {
    position: absolute;
    top: 2.4rem;
    left: 13rem;
  }
  .landing-layout .hero > img {
    width: 100% !important;
  }
  .landing-layout .hero > img:nth-child(2) {
    bottom: 28rem !important;
  }
  .landing-layout .help {
    gap: 4rem;
    /* padding-block: 8rem; */
  }
  .landing-layout .layout-feature {
    width: 100%;
  }
  .landing-layout .layout-feature-img {
    display: none;
  }
  .landing-layout .feature-img {
    display: flex;
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
    background: #1d1d1d;
  }
  .landing-layout .layout-help {
    height: fit-content;
    border-top: none;
    background: none;
  }
  .landing-layout .manage {
    padding-block: 4rem;
  }
  .landing-layout .layout-manage {
    padding: 0;
  }
  .landing-layout .manage-title-layout {
    width: 100%;
  }
  .landing-layout .manage-img {
    width: 100%;
  }
  .landing-layout .world-img {
    width: 95%;
  }
  .landing-layout .audience-img,
  .landing-layout .api-block-img {
    width: 100%;
  }
  .landing-layout .cryptopayment-img {
    width: 100%;
  }
  .landing-layout .benefits {
    flex-direction: column;
  }
  .landing-layout .img-part {
    display: none;
  }
  .landing-layout .text-part {
    width: 100%;
    gap: 0;
  }
  .landing-layout .feature-heading {
    padding-block: 2rem;
  }
  .landing-layout .feature-heading > img:last-child {
    display: block;
  }
  .landing-layout .main-feature {
    margin-bottom: 8rem;
  }
  .landing-layout.b2c .hero-img {
    width: 100% !important;
    justify-content: start !important;
    overflow: hidden;
  }
  .landing-layout.b2c .hero-img > div {
    width: 70% !important;
    flex-direction: row !important;
    align-items: start;
    justify-content: start !important;
  }
  .landing-layout.b2c .hero-img > div:last-child {
    position: absolute;
    align-items: end;
    left: 76%;
    top: -8rem;
  }
  .landing-layout.b2c .hero-img > div > img {
    width: 50% !important;
  }
  .landing-layout .multi-wallet-management {
    flex-direction: column;
    align-items: center;
  }
  .landing-layout .multi-wallet-management > div {
    width: 100%;
    margin: 0;
  }
  .landing-layout .wallet-internal .ico-card-wallet {
    top: 6rem !important;
    left: 56% !important;
  }
  .landing-layout .wallet-internal .sub-title {
    width: 50%;
  }
  .landing-layout .wallet-external hr {
    display: block !important;
    width: 100vw;
    top: 0;
    left: -5rem;
  }
  .landing-layout .wallet-club {
    width: 100%;
  }
  .landing-layout .wallet-external {
    -webkit-mask-image: none;
    border-left: 1px solid #202020;
  }
  .landing-layout .layout-transactions {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
  }
  .landing-layout .transaction-description {
    width: 100%;
    padding-left: 0;
  }
  .landing-layout .transaction-description .sub-title {
    width: 75%;
  }
  .landing-layout .layout-transactions.first {
    flex-direction: column-reverse;
  }
  .landing-layout .transaction-img {
    width: 100%;
  }
  .landing-layout.b2b .hero .layout-horizontal {
    gap: 0;
  }
  .landing-layout.b2b .hero-img {
    width: 80% !important;
    margin-top: -4rem;
  }
  .landing-layout.b2b .translate-left {
    bottom: 36% !important;
    width: 100% !important;
  }
  .landing-layout .invoicing-step-wrapper {
    display: none;
  }
  .landing-layout .invoicing-img {
    width: 100%;
  }
  .landing-layout .invoicing-step-container {
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    position: relative;
    width: 100%;
  }
  .landing-layout .step-invoicing {
    width: 100%;
    /* text-align: center; */
    position: absolute;
    margin-inline: auto;
    opacity: 0;
    transition: 0.5s ease-in;
  }
  .landing-layout .step-invoicing-visible {
    position: static;
    opacity: 1;
  }
  .landing-layout .invoicing-tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #171717;
    border: 1px solid #202020;
    border-radius: 0.6rem;
    padding: 0.4rem;
    width: 100%;
  }
  .landing-layout .invoicing-tab {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.6rem;
    border-radius: 0.4rem;
    transition: 0.5s ease-in;
  }
  .landing-layout .invoicing-tab-selected,
  .landing-layout .invoicing-tab:hover {
    background: #202020;
  }
  .landing-layout .invoicing-tab img {
    width: 1.2rem;
  }
  .landing-layout .invoicing-tab p {
    font-size: 1rem;
  }
  .landing-layout .product-creation-step {
    display: none;
  }
  .landing-layout .step-product-creation {
    display: block !important;
    width: 100%;
    position: relative;
  }
  .landing-layout .step-product {
    position: absolute;
    opacity: 0;
    transition: 0.5s ease-in;
  }
  .landing-layout .step-product-selected {
    opacity: 1;
    /* position: static; */
  }
  .landing-layout .progress-bar {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    gap: 2rem;
  }
  .landing-layout.b2b .product {
    padding-top: 2rem;
  }
  .landing-layout .safe-top {
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  .landing-layout .safe-top > div {
    width: 80% !important;
  }
  .landing-layout .safe-top > p {
    width: 92% !important;
  }
  .landing-layout .safe-bottom {
    flex-direction: column;
    gap: 1rem;
  }
  .landing-layout .safe-bottom > div {
    flex-direction: row !important;
    align-items: start;
    justify-content: start;
    gap: 2rem !important;
    width: 100% !important;
  }
  .landing-layout .safe-bottom > div > div {
    flex-direction: column;
  }
  .landing-layout .safe-bottom hr {
    width: 1px !important;
    height: 6rem;
  }
  .security-hline {
    width: 100% !important;
    height: 36rem;
    border: 1px solid #323232 !important;
  }
  .landing-layout .layout-security {
    flex-direction: column;
    width: 100%;
  }
  .landing-layout .layout-security > div {
    width: 100% !important;
    height: 36rem;
    overflow: hidden;
    border-block: 1px solid #202020;
  }
  .landing-layout .layout-security img {
    width: auto !important;
    height: 36rem;
  }
  .community-container {
    grid-template-columns: 1fr;
  }
  .landing-layout .layout-world {
    flex-direction: column;
  }
  .landing-layout .layout-cryptopayment {
    flex-direction: column;
  }
  .landing-layout .world-title-layout {
    width: 100%;
  }
  .landing-layout .cryptopayment-title-layout {
    width: 100%;
  }
  .landing-layout .world {
    padding-block: 4rem;
  }
  .landing-layout .cryptopayment {
    padding-top: 4rem;
  }
  .manage-title-layout h1,
  .world-title-layout h1,
  .cryptopayment-title-layout h1 {
    width: 100%;
  }
  .manage-title-layout p,
  .world-title-layout p,
  .cryptopayment-title-layout p {
    width: 100%;
  }

  .manage-title-layout h1 {
    font-size: 2rem;
  }
  .manage-title-layout p {
    font-size: 1.6rem;
  }
  .landing-layout.contact {
    background: none !important;
    border: none !important;
  }
}
@media (max-width: 640px) {
  .crypto-wallet-subtext {
    max-width: 100% !important;
  }
  .landing-layout .hide-in-mobile {
    display: none;
  }
  .landing-layout.home .hero-img {
    transform: translateX(-8rem);
  }
  /* .landing-layout .benefits img {
    left: 0;
  } */
  .landing-layout.b2c .hero-img > div:last-child {
    display: none !important;
  }
  .landing-layout.b2c .hero-img > div:first-child img {
    width: 72% !important;
  }
  .landing-layout.b2c .hero-img > div:first-child img:last-child {
    position: absolute;
    left: 60%;
    -webkit-mask-image: linear-gradient(to bottom, #fff 30%, #0000 56%);
  }
  .landing-layout .wallet-internal {
    border: none;
  }
  .landing-layout .wallet-internal .ico-card-wallet {
    position: static;
  }
  .landing-layout .wallet-internal .sub-title {
    width: 100%;
  }
  .landing-layout .multi-wallet-management > div {
    padding-inline: 0;
  }
  .landing-layout .wallet-club {
    grid-template-columns: 1fr 1fr;
  }
  .landing-layout .ico-card-wallet.coinbase {
    top: 58rem !important;
    left: -16rem !important;
  }
  .landing-layout .ico-card-wallet.metamask {
    top: 60rem !important;
    left: 16rem !important;
  }
  .landing-layout .wallet-external {
    border-left: none;
    padding-bottom: 22rem;
  }
  .landing-layout .wallet-external hr {
    display: none !important;
  }
  .landing-layout .wallet-external > p {
    width: 100%;
  }
  .landing-layout .transaction-img {
    overflow: hidden;
  }
  .landing-layout .transaction-img img {
    height: 28rem;
    width: auto;
  }
  .landing-layout.b2b .hero-img {
    width: 100% !important;
    margin-top: -2rem;
  }
  .landing-layout .invoicing-tab p {
    display: none;
  }
  .landing-layout .invoicing-tab-selected p {
    display: block;
  }
  .landing-layout .progress-bar {
    margin-top: 12rem;
  }
  .landing-layout.home .layout-getting-started .layout-title .title {
    width: 30rem;
  }
  .landing-layout .outlook p:last-child {
    max-width: 96%;
  }
  .landing-layout .benefits > div > p:last-child {
    max-width: 26rem;
  }
  .landing-layout .benefits div:nth-child(2) > p {
    width: 60%;
  }
  .landing-layout .invoicing-step-container {
    flex-direction: column-reverse;
  }
  .landing-layout .analytics > p:last-child {
    width: 36rem !important;
  }
}

.vertical-dashed-line {
  position: absolute;
  border: none;
  width: 1px;
  height: 100px;
  z-index: -1;
  background-image: repeating-linear-gradient(
    to bottom,
    #202020 0,
    #202020 8px,
    transparent 8px,
    transparent 15px
  );
}

.horizontal-dashed-line {
  position: absolute;
  border: none;
  width: 100px;
  height: 1px;
  z-index: -1;
  background-image: repeating-linear-gradient(
    to right,
    #202020 0,
    #202020 8px,
    transparent 8px,
    transparent 15px
  );
}

.landing-layout.contact {
  width: 100%;
  position: relative;
  background: #202020;
  border: 1px solid #323232;
  border-radius: 16px;
}
.contact .contact-layout {
  margin: 4rem auto 8rem;
  max-width: 50rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.contact-layout > h1,
.contact-layout > h2,
.contact-layout > p {
  text-align: center;
}
.contact-layout > h1 {
  font-size: 4rem;
}
.contact-layout > p {
  font-size: 1.6rem;
}
.contact-layout > h2 {
  font-size: 2rem;
  color: #b1b1b1;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #b1b1b1;
}
.contact-form button * {
  color: white;
}
.contact-form input {
  font-size: 1.2rem !important;
}
.contact-form textarea {
  font-size: 1.2rem !important;
}
