.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: radial-gradient(
    64.62% 74.22% at 26.36% 14.29%,
    var(--border-color) 0%,
    var(--card-color) 50%,
    var(--bg2-color) 100%
  );
  border-radius: 25px;
  width: 100%;
  max-width: 53rem;
  padding: 5rem;
}

.login img {
  height: 3rem;
}

.login h3 {
  font-size: 3rem;
  margin: 2rem 0 4rem 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttonWrapper > button {
  width: 100%;
}

.info p {
  font-size: 1.2rem !important;

  color: var(--text2-color) !important;
}

.buttonWrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 650px) {
  .login {
    margin: 0 2.5rem;
  }

  .card {
    padding: 2.5rem;
  }

  .login h3 {
    font-size: 2.2rem;
  }

  .info p {
    font-size: 1rem !important;
  }
}
