.container {
  background-color: #161616;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  position: relative;
}

.lightContainer {
  border-right: 1px solid rgba(0, 0, 0, 0.05);

  background: #fff;

  box-shadow:
    0px 18px 36px -18px rgba(0, 0, 0, 0.05),
    0px 30px 45px -30px rgba(50, 50, 93, 0.05);
}

.item {
  display: flex;
  align-items: center;
  padding: 1.2rem;
  font-size: 1.4rem;
  gap: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.5s ease-out;
  opacity: 0.6;
}

.item p {
  padding-top: 2px;
  line-height: 100%;
}

.item:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.04);
}

.active {
  background-color: rgba(255, 255, 255, 0.08);
  opacity: 1;
}

.lightContainer .active {
  background-color: rgba(0, 0, 0, 0.08);
}

.item svg {
  fill: white;
  transition: 0.5s ease-out;
}

.active svg {
  fill: #0784b5;
}

.soon {
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.08);
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
}

.lightContainer .soon {
  background-color: rgba(0, 0, 0, 0.08);
}

.mobItems {
  display: none;
}

.referral {
  position: absolute;
  left: 1rem;
  bottom: 2rem;
  right: 1rem;
}

.lightContainer .notification {
  filter: invert();
}

.linkContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.linkContainer > div:first-child {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: var(--card-color);
  padding: 0.7rem 1rem;
  gap: 1rem;
  font-size: 1.2rem;
}

.linkContainer svg {
  stroke: var(--text-color) !important;
}

.linkContainer > div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
}

.tooltip {
  visibility: hidden;
  width: 100px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 50%;
  margin-left: -55px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0.3rem 0.3rem 1rem var(--border-color);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--background-color) transparent transparent transparent;
}

@media (max-width: 900px) {
  .soon {
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
  }

  .container {
    width: 100vw;
  }

  .mobItems {
    display: initial;
  }
}
