.container {
  /* margin-top: 12rem;
  margin-bottom: 12rem; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  /* gap: 10%; */
}

.fullWidthBox {
  width: 100%;
}

.or_divider {
  font-size: 1.2rem;
  text-align: center;
  margin: 10px;
}

.internalWalletContainer {
  width: 100%;
  background-color: var(--bg2-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
  gap: 1rem;
  border: 1px solid var(--border-color, #313131);
}

.internalWalletTitle {
  font-size: 1.5rem;
  color: var(--text-color, #fff);
}

.internalWalletAddress {
  font-size: 1.1rem;
  color: var(--text2-color, #b1b1b1);
}

.connectInternalButton,
.connectWalletContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.4rem;
  width: 100%;
  padding: 1.4rem 1rem 0.5rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid var(--border-color, #313131);
  background-color: var(--bg2-color);
  font-size: 1.6rem;
  cursor: pointer;
}

.externalWalletButton {
  background-color: transparent !important;
  color: transparent !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

.connectWalletContainer {
  position: relative;
}

.connectWalletIcons {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
}

.right {
  width: 50%;
  height: 100%;
  overflow: auto;
  background-color: var(--bg2-color, #171717);
}
.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  width: max-content;
  margin: 4rem 10rem;
  width: 60%;
  height: 80%;
  max-width: 40rem;
}

.productImage {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.imageWrapper {
  height: 23rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productBuy h4 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.left {
  width: 50%;
  height: 100%;
  overflow: auto;
}

.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
  display: none;
}

.productBuy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4rem 10rem 4rem auto;
  width: max-content;
  gap: 2.4rem;
}

.body {
  display: flex;
  width: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.optionLineWrapper {
  display: flex;
  height: 5rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: var(--bg2-color, #1f1f1f);
}
.optionLineWrapper:hover {
  background: var(--card-color, #272729);
}
.nonOption {
  height: fit-content;
  padding: 0;
  justify-content: start;
  background: none;
  display: block;
}

.nonOption:hover {
  background: none;
}

.nonOption .iconContainer {
  background: none;
}

.optionLine {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  align-self: stretch;
}

.iconContainer {
  display: flex;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  background: var(--border-color, #313131);
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -1px;
  padding-top: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.icon {
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}

.optionTitle {
  color: var(--text-color, #f6f6f6);
}

.optionDescription {
  color: var(--text2-color, #b1b1b1);
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.total > p:nth-child(odd) {
  font-size: 1.2rem;
}
.total > p:nth-child(even) {
  font-size: 3rem;
}

.walletWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.chooseWallet {
  display: flex;
  padding-right: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text2-color, #b1b1b1);
}

.select {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--border-color, #313131);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.option {
  cursor: pointer;
}

.selectBody {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid var(--border-color, #313131);

  z-index: 100;
}

.paymentWrapper {
  width: 100%;
  display: block;
}

.paymentWrapperForMobile {
  display: none;
}

.sellerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.sellerWrapper > p {
  font-size: 1.4rem;
  color: var(--text2-color, #b1b1b1);
}

.sellerContainer {
  display: flex;
  padding: 0.4rem 0 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background: transparent;
}

.avatarWrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: rgb(40, 196, 243);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sellerTitle {
  font-size: 1.2rem;
  color: var(--text2-color, #b1b1b1);
}

.sellerValue {
  font-size: 1.4rem;
  color: var(--text-color, #f6f6f6);
}

.payInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
}

.payInfoHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.headerTitle {
  font-size: 2.4rem;
  color: var(--text-color, #f6f6f6);
}

.headerDescription {
  font-size: 1.2rem;
  color: var(--text2-color, #b1b1b1);
}

.payInfoBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.label {
  font-size: 1.2rem;
  color: var(--text2-color, #b1b1b1);
  font-weight: 500;
}

.inputWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;
  align-self: stretch;
  width: 100%;
}

.input {
  color: var(--text2-color, #b1b1b1);
  font-size: 1.2rem;
  padding: 1rem;
  width: 100%;
  border-radius: 0.6rem;
  outline: 0 !important;
  border: 1px solid var(--border-color, #313131);
  background: var(--card-color, #272729);
}

.inputWrapper input::placeholder {
  color: rgba(255, 255, 255, 0.42);
}

.cryptoTitle {
  color: var(--text2-color, #b1b1b1);
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

svg path {
  fill: var(--text2-color, #b1b1b1) !important;
}
.cryptoBody {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.cryptoAmount {
  font-size: 1.8rem;
  color: var(--text-color, #f6f6f6);
}

.productWrapper {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  align-self: stretch;
  gap: 1.4rem;
}

.productWrapper img {
  height: 10rem;
  width: 10rem;
  border-radius: 0.8rem;
  object-fit: cover;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-self: stretch;
  max-width: 24rem;
  width: 60%;
}

.productInfo h1 {
  font-size: 1.6rem;
  color: var(--text-color, #f6f6f6);
}

.quantityWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.quantityWrapper > p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text2-color, #b1b1b1);
}

.quantityWrapper > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}

.quantityWrapper > div > div {
  border: 2px solid var(--border-color, #313131);
  border-radius: 0.6rem;
  padding: 0 0.6rem;
  font-size: 1.4rem;
  color: var(--text3-color, #e9e9e9);
  cursor: pointer;
}

.quantityWrapper input {
  outline: none !important;
  border: none !important;
  border-radius: 8px;
  text-align: center;
  font-size: 1.6rem;
  width: 32px;
  color: var(--text3-color, #e9e9e9);
  background-color: transparent;
}

.signinContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.signinContainer > div:first-child p:first-child {
  font-size: 1.8rem;
  color: var(--text-color, #f6f6f6);
}

.signinContainer > div:first-child p:last-child {
  font-size: 1.2rem;
  color: var(--text2-color, #b1b1b1);
  max-width: 360px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: var(--lightBlack-color);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  top: 0%;
  left: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.paymentDetails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.sellerDropdown {
  display: none;
}

.unlogged {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column !important;
  }
  .container {
    position: inherit !important;
    margin: 0 -2.5rem;
  }
  .left,
  .right {
    width: 100% !important;
    overflow: hidden !important;
  }
  .infoWrapper {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    padding: 4rem 2rem;
    height: fit-content;
  }
  .productBuy {
    margin: 0 auto !important;
    padding: 4rem 2rem !important;
  }
  .row {
    flex-direction: column;
  }

  .paymentWrapper {
    display: none;
  }

  .paymentWrapperForMobile {
    display: block;
    width: 100%;
  }
  .total {
    align-items: center;
  }

  .sellerWrapper {
    display: none;
  }

  .sellerDropdown {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: var(--bg-color, #171717);
    box-shadow: 0 0 1rem 0 #171717;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    padding: 1.2rem 2rem;
  }
  .sellerForMobile {
    background: var(--bg-color, #171717);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem !important;
  }
  .avatarWrapper {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
  .sellerTitle {
    font-size: 1.8rem;
  }
  .sellerValue {
    font-size: 2rem;
  }
  .showSeller {
    animation: slide 0.4s;
  }
  @keyframes slide {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
