.container {
  margin-top: 14rem;
  margin-bottom: 14rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  width: max-content;
}

.productImage {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.imageWrapper {
  height: 23rem;
  background-color: gray;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productBuy h4 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.productBuy {
  width: 36%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #313131;
  background: #1f1f1f;
}

.optionLineWrapper {
  display: flex;
  height: 60px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #313131;
  /* border-radius: 1rem; */
  background: #1f1f1f;
}
.optionLineWrapper:hover {
  background: #272729;
}

.optionLine {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
}

.iconContainer {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 43px;
  background: #313131;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -1px;
  font-size: 14px;
  font-weight: 500;
}

.icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 64px;
}

.optionTitle {
  color: #f6f6f6;
}

.optionDescription {
  color: #b1b1b1;
}

.total {
  display: flex;
  padding: 18px 24px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid #313131;
  font-size: 18px;
  font-weight: 500;
}

.walletWrapper {
  width: 100%;
  display: flex;
  padding: 18px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.chooseWallet {
  display: flex;
  padding-right: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-size: 18px;
  font-weight: 500;
}

.select {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
}

.option {
  cursor: pointer;
}

.selectBody {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid rgba(255, 255, 255, 0.08);

  z-index: 100;
}

.paymentWrapper {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.sellerWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  /* align-self: stretch; */
}

.sellerContainer {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #313131;
  background: #1f1f1f;
}

.avatarWrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: rgb(40, 196, 243);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellerInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 16px;
}

.sellerTitle {
  font-size: 1.2rem;
  color: #b1b1b1;
}

.sellerValue {
  font-size: 1.4rem;
  color: #f6f6f6;
}

.payInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  align-self: stretch;
}

.payInfoHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.headerTitle {
  font-size: 2.4rem;
  color: #f6f6f6;
}

.headerDescription {
  font-size: 1.2rem;
  color: #b1b1b1;
}

.payInfoBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.label {
  font-size: 1.2rem;
  color: #b1b1b1;
  font-weight: 500;
}

.inputWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  align-self: stretch;
  width: 100%;
}

.input {
  color: #b1b1b1;
  font-size: 1.2rem;
  padding: 0px 12px;
  height: 56px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  outline: 0 !important;
  border: 1px solid #313131;
  background: #1f1f1f;
}

.inputWrapper input::placeholder {
  color: rgba(255, 255, 255, 0.42);
}

.crypto {
  display: flex;
  padding: 24px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.cryptoTitle {
  font-size: 14px;
  color: #7b7b7b;
}
.cryptoEqual {
  font-size: 16px;
  color: #7b7b7b;
  transform: rotate(90deg);
}
.cryptoAmount {
  font-size: 28px;
  color: #f6f6f6;
}

.productWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.productInfo {
  display: flex;
  padding: 0px 24px;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid #313131;
}
.productPriceContainer,
.productAmountContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}
.productPriceContainer {
  padding: 16px 0px;
  border-right: 1px solid #313131;
}
.productAmountContainer {
  padding: 16px 24px;
}

.productLabel {
  color: white;
  font-size: 14px;
}

.productValue {
  padding: 4px 16px;
  border-radius: 6px;
  background: #272729;
  color: #b1b1b1;
  font-size: 18px;
}

input.productValue {
  width: 80px;
  border: none;
  outline: none;
  padding: 8px 16px;
}

.productImage {
  display: flex;
  padding: 24px 24px 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.productInfoTitle {
  color: white;
  font-size: 18px;
}
.productImageWrapper {
  height: 160px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.productImageWrapper:hover {
  object-fit: contain;
}
.productLandscape {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  background: #272729;
  border-radius: 8px;
}

.signinContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.signinContainer .title {
  font-size: 1.8rem;
}

.signinContainer .description {
  font-size: 1.2rem;
  opacity: 0.6;
  max-width: 360px;
}
