.container {
  margin-top: 14rem;
  margin-bottom: 14rem;
}

@media (max-width: 900px) {
  .container {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 12%;
}

.infoWrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 50%;
}

.productInfo {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.productImage {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.imageWrapper {
  height: 23rem;
  background-color: gray;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productBuy h4 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.productBuy {
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.price,
.stock {
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  margin: 1rem 0;
}

.price span,
.stock span {
  flex: 1 1;
}

.tabNavLogo {
  height: 1.5rem;
  margin-right: 0.3rem;
  vertical-align: baseline;
}

.tabContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.center {
  display: flex;
  justify-content: center;
}

.balance {
  margin-top: 20px;
  background-color: #1c1c1c;
  padding: 3rem;
  border-radius: 1rem;
}

/*
.table {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 3rem;
  }*/

.table {
  display: grid;
  grid-template-columns: 1fr fit-content(10rem) fit-content(10rem);
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.line {
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: contents;
  grid-template-columns: 1fr fit-content(10rem) fit-content(10rem);
  justify-content: space-between;
  height: 4rem;
}

.line img {
  width: 4rem;
  height: auto;
}

.lineLeft {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.name,
.dollar {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}

.abbr,
.crypto {
  font-size: 1.2rem;
  color: var(--gray-color);
}

.crypto,
.dollar {
  text-align: right;
}

.modalInputs {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.modalButtons > div {
  width: 100%;
}

.body {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid #313131;
  background: #1f1f1f;
}

.optionLineWrapper {
  display: flex;
  height: 60px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  /* align-self: stretch; */
  border: 1px solid #313131;
  /* border-radius: 1rem; */
  background: #1f1f1f;
}

.optionLine {
  display: flex;
  gap: 8px;
  align-items: center;
  align-self: stretch;
}

.iconContainer {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 43px;
  background: #313131;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: -1px;
  font-size: 14px;
  font-weight: 500;
}

.icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  border-radius: 64px;
}

.optionTitle {
  color: #f6f6f6;
}

.optionDescription {
  color: #b1b1b1;
}

.total {
  display: flex;
  padding: 18px 24px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-bottom: 1px solid #313131;
  font-size: 18px;
  font-weight: 500;
}

.walletWrapper {
  width: 100%;
  display: flex;
  padding: 18px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.chooseWallet {
  display: flex;
  padding-right: 12px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-size: 18px;
  font-weight: 500;
}

.select {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.08);
  position: relative;
}

.option {
  cursor: pointer;
}

.selectBody {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  bottom: 0;
  transform: translateY(100%);
  border: 1px solid rgba(255, 255, 255, 0.08);

  z-index: 100;
}

.paymentWrapper {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
