.backbtn {
  cursor: pointer;
}
.settingSideBar-container {
  padding: 1rem;
}

.settingSideBar-body {
  padding: 5px;
  width: 100%;
}
.settingSideBar-body h3 {
  margin-bottom: 16px;
}

.list-font-size,
.settingTitle {
  font-size: 18px;
  color: var(--light-grey, #e9e9e9);
}
.settingTitle {
  color: var(--Light-grey2, #b1b1b1) !important;
  margin-bottom: 8px;
  display: block;
}
.settingSideBarMenuItem {
  padding: 10px 0;
  cursor: pointer;
}

.settingSideBarMenuItem img {
  transform: rotate(180deg);
}
