.seed-phrase-footer {
  padding: 16px 16px 0px 16px;
  margin-bottom: -4px;
  width: 100%;
  border-top: 1px solid var(--Dark, #202020);
}

.seed-phrase-cancel {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.seed-phrase-continue {
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  background: var(
    --grad,
    linear-gradient(262deg, #009bd2 -78.58%, #3b6b7c 188.93%)
  );
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
