.walletWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.walletLogoWrap {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.walletLogo {
  height: 7rem;
  margin-right: 0.3rem;
  vertical-align: baseline;
}

.walletTitle {
  font-size: 1.4rem;
  width: 12rem;
  white-space: nowrap;
}

.walletInfoWrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.walletAddressTitle,
.walletBalanceTitle {
  font-size: 1.4rem;
  width: 22rem;
}

.buttonWrap {
  width: 14rem;
  min-width: 14rem;
  white-space: nowrap;
}

.walletAddress,
.walletBalance {
  color: var(--gray-color);
}

@media (max-width: 860px) {
  .walletBalanceTitle {
    display: none;
  }
  .walletInfoWrap {
    gap: 10px;
  }
}
@media (max-width: 620px) {
  .walletAddressTitle {
    display: none;
  }
}
