.third-divider {
  margin-bottom: 46px;
}

.page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
}

.personal-dashboard-body {
  padding: 0px 32px;
  position: relative;
}

.pageTitle {
  font-family: "DM-Sans";
  color: var(--text2-color, #b1b1b1);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.currency-option {
  gap: 4px;
  line-height: 1;
  /* border: 1px solid red; */
}

.ant-select-item-option-selected {
  background-color: transparent !important;
}

.wallets-title-container {
  justify-content: space-between;
}

.wallets-title {
  align-items: center;
  gap: 6px;
}

.wallets-title > div {
  font-weight: 500;
}

.block-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.currency-chart-container {
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  padding: 16px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 46px;
}

.portfolio-title {
  font-family: "DM-Sans";
  color: var(--Light-grey, #e9e9e9);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
}

.searchbar {
  max-width: 222px;
}

.total-balance-container {
  padding: 24px 24px 24px 0px;
  height: 100%;
}

.skeleton-title {
  height: 100%;
}
.skeleton-title .ant-skeleton {
  width: 100% !important;
}

.total-balance-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.slider-container {
  /* border: 1px solid red; */
}

.slider-skeleton {
  width: 100% !important;
  height: 209.6px !important;
}

.balance-skeleton {
  height: 50px !important;
}
.total-balance-text {
  font-family: "DM-Sans";
  color: var(--Light-grey, #e9e9e9);
  font-size: 20px;
  font-weight: 500;
}

:where(.searchbar).ant-input-affix-wrapper > input.ant-input {
  border: 0px !important;
}

.dashboard-second-section-divider {
  height: auto;
}
/* .ant-select-single {
  height: 36px !important;
} */
.ant-select-selector {
  border: 1px solid #202020 !important;
}

.add-wallet-button {
  position: absolute;
  right: -34px;
  top: 20px;
}

.personal-dashboard-wallet-title {
  font-size: 20px;
}

.personal-dashboard-add-wallet {
  padding: 6px 24px 6px 12px !important;
  border-radius: 6px !important;
  border: 1px solid #111;
  background: var(--Dark, #202020) !important;
  color: var(--Light-grey, #e9e9e9) !important;
  font-size: 14px !important;
  /* Button shadow */
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
}
