.body {
  padding: 2rem 3rem 3rem 3rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.seller {
  margin-top: 1rem;
  font-size: 2rem;
}

.price,
.stock {
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 0.5rem 3rem;
}

.payInfo {
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 4px;
}

.description {
  font-size: 1.2rem;
  opacity: 0.6;
  margin-bottom: 8px;
}

.input {
  background-color: transparent;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 1rem 1rem;
  width: 30rem;
  color: white;
  appearance: none;
  border-radius: 0.5rem;
}

.edit {
  margin-right: 8px;
}
