.email-modal-container {
  padding: 30px 20px 12px 20px;
}

.change-email-modal-title {
  font-size: 16px;
  font-weight: 500;
}

.change-email-modal-subtitle {
  width: 180px;
  text-align: center;
}

.change-email-field-container {
  margin-bottom: 16px;
}

.email-input-field {
  margin-top: 4px;
}

.change-email-submit-button {
  padding: 10px 0px;
  width: 100%;
  border-radius: 6px;
  background: var(
    --grad,
    linear-gradient(262deg, #009bd2 -78.58%, #3b6b7c 188.93%)
  );
  border: none;
  /* Button shadow */
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.email-modal-step2 {
  padding: 30px 20px 20px 20px;
}

.email-modal-success {
  text-align: center;
  width: 216px;
}

.email-modal-done-button {
  padding: 10px 24px;
  border-radius: 6px;
  background: var(
    --grad,
    linear-gradient(262deg, #009bd2 -78.58%, #3b6b7c 188.93%)
  );

  /* Button shadow */
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
