.identification-common-modal .ant-modal-content {
  padding: 0px;
  background: var(--BG, #111);
}

.identification-common-modal .ant-modal-header {
  margin-bottom: 0px;
  padding: 20px;
  border-bottom: 1px solid var(--Dark, #202020);
  background: var(--BG, #111);
}

.identification-common-modal .ant-modal-body {
  padding: 20px;
}

.identification-modal-cancel,
.identification-modal-cancel:hover .identification-modal-cancel:active {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020) !important;
  background: var(--BG2, #171717) !important;
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  width: 123px;
}

.identification-modal-upload,
.identification-modal-upload:hover .identification-modal-upload:active {
  width: 123px;
  border-radius: 6px;
  background: var(
    --grad,
    linear-gradient(262deg, #009bd2 -78.58%, #3b6b7c 188.93%)
  ) !important;
  border: none !important;
  color: currentColor !important;
  padding: 6px 12px;
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  .identification-common-modal {
    max-width: 100% !important;
    margin: 0 !important;
    padding-bottom: 0 !important;
    top: 0 !important;
  }
  .identification-common-modal > div {
    border: none !important;
    border-radius: 0 !important;
  }
}
