.card {
  background-color: #161616;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  width: 100%;
  border-radius: 1rem;
}

.lightCard {
  background-color: red;

  border: 1px solid rgba(0, 0, 0, 0.05);

  background: #fff;

  box-shadow:
    0px 18px 36px -18px rgba(0, 0, 0, 0.05),
    0px 30px 45px -30px rgba(50, 50, 93, 0.05);
}
