.product-copy-link:hover,
.footer-action-icons:hover {
  border: 1px solid var(--Light-grey, #e9e9e9);
}

.product-name:hover {
  color: #009bd2;
}

.product-card {
  border-radius: 6px;
  border: 1px solid #202020;
  background: #171717;
  box-shadow: 0px 4px 20.1px 0px rgba(0, 0, 0, 0.15);
}

.product-header,
.product-footer {
  padding: 12px;
}

.product_image {
  width: 54px;
  height: 54px;
  border-radius: 4px;
}

.product-body {
  padding: 0 12px;
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
}
.product-body-content {
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.product-unit-block,
.product-stock-block {
  padding: 6px;
}

.product-unit,
.product-stock-label,
.product-name {
  font-weight: 500;
}

.product-price-text,
.product-stock-text {
  font-weight: 500;
  font-size: 16px;
}

.product-body-block-divider {
  height: 100%;
}

.footer-action-icons {
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--Dark, #202020);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-action-icons img {
  width: 16px;
  height: 16px;
}

.product-copy-link {
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--Dark, #202020);
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
}
