.navigation {
  top: -100px;
  /* transform: translateY(-100%); */
  transition: 0.2 ease-out;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
  height: 100%;
}

.contentWrapper {
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 100;

  background-color: var(--background-color);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-block: 0.96rem;
  max-width: 111rem !important;
}

.content > div {
  display: flex;
  align-items: center;
}

.contentAlignForPay {
  justify-content: center;
}

.left {
  gap: 5rem;
}

.logoWrapper {
  margin-top: 0.4rem;
}

.logo {
  height: 2.5rem;
  cursor: pointer;
  pointer-events: initial;
  transform: translateY(-1px);
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.navigation ul li {
  list-style-type: none;
  pointer-events: initial;
  font-size: 1.3rem;
  opacity: 1;
}

.dropdownMenuItem {
  display: flex;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 6px;
}

.dropdownMenuItem:hover {
  background: #323232;
}

.dropdownMenuItem .iconWrapper {
  border-radius: 6px;
  background: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
}

.dropdownMenuItem:hover .iconWrapper {
  background: #e9e9e9;
}
.dropdownMenuItem:hover .body p:last-child {
  color: #e9e9e9;
}

.dropdownMenuItem .iconWrapper img {
  height: 1.4rem;
  width: 1.4rem;
}

.dropdownMenuItem .body p:last-child {
  color: #b1b1b1;
  max-width: 24rem;
}

.products,
.resources,
.contactus {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}

.products p,
.resources p,
.contactus p {
  padding-block: 1rem;
}

.dropdown {
  display: flex;
  background: #202020;
  border: 1px solid #323232;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  width: max-content;
  z-index: 1;
}

.dropdownOptionsSubtext {
  font-size: 12px;
}

.contactUsContainer {
  position: relative;
}

.contactUsOptions {
  padding: 1.8rem;
}

.contactUsOptions:first-child {
  border-right: 1px solid var(--Dark-color-theme-Grey, #323232);
}

.gridContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridContent a {
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}
.gridContent a:hover {
  background: #323232;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.menu a {
  text-wrap: nowrap;
}

.headline {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;

  gap: 1rem;
}

.headline img {
  width: 1.5rem !important;

  opacity: 0;
  transition: 0.3s ease;
  transform: translateX(-20px);
}

.item:hover .headline img {
  opacity: 1 !important;
  transform: translateX(0);
}

.subheadline {
  width: 28rem;
  font-size: 1.3rem;
}

.navigation ul li img,
.right img {
  width: 1rem;
}

.right svg {
  height: 1.4rem;
}

.right {
  gap: 0.6rem;
}

.right p {
  cursor: pointer;
  opacity: 0.9;
  pointer-events: initial;
}

.right > p {
  font-size: 1.4rem;
}

.login,
.button {
  color: var(--background-color);
  /* background: var(--text-color); */
  font-size: 1.4rem;
  padding: 0.8rem 2.4rem;
  margin-block: 0.48rem;
  border-radius: 0.6rem;
  border: 1px solid var(--border-color);
  cursor: pointer;
  pointer-events: auto;
}

.login {
  color: var(--text-color);
  background: #171717;
}

.login:hover {
  background-color: #313131;
}
.button {
  background: linear-gradient(0deg, #fafafa -32.93%, #cfcfcf 187.8%);
  box-shadow:
    0px -2px 0px 0px #c9c9c9 inset,
    0px 1px 0px 0px #fff inset;
}
.button:hover {
  background: linear-gradient(0deg, #fff 13.1%, #cfcfcf 187.8%);
  box-shadow:
    0px 78px 22px 0px rgba(239, 239, 239, 0),
    0px -8px 20px 0px rgba(239, 239, 239, 0.18),
    0px 28px 17px 0px rgba(239, 239, 239, 0.02),
    0px 12px 12px 0px rgba(239, 239, 239, 0.04),
    0px 3px 7px 0px rgba(239, 239, 239, 0.04);
}
.button:active {
  background: linear-gradient(0deg, #e5e5e5 13.1%, #cfcfcf 187.8%);
  box-shadow:
    0px -1px 0px 0px #c9c9c9 inset,
    0px 1px 0px 0px #fff inset;
}

.dashboardButton {
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
}

.mobMenu {
  display: none !important;
}

.content {
  z-index: 5;
}

.mobileMenu {
  backdrop-filter: blur(10px);
  padding: 2rem 2.5rem;
  transition: 0.5s ease-out;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobileMenu > div > div:first-child {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  align-items: center;
}

.mobileMenu > div > div:first-child > img {
  height: 3rem;
}

.close {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.close > p {
  font-size: 2rem;
  cursor: pointer;
  pointer-events: initial;
}

.qrcode {
  width: 1.5rem !important;
  cursor: pointer;
  pointer-events: initial;
  margin-left: -1rem;
  margin-right: -1rem;
}

.mobileMenu ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.mobileMenu ul a {
  width: 100%;
}

.mobileMenu ul li {
  width: 100%;
  padding-bottom: 15px;
  font-size: 1.6rem;
}

.mobItem .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobItem .menu img {
  width: auto !important;
  height: 0.6rem !important;
  transition: 0.3s ease;
}

.mobileButtonWrapper {
  display: none;
}

.rightWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.rightWrapper > img:first-child {
  width: 1.4rem;
}

.light {
  width: 1.6rem !important;
  cursor: pointer;
  pointer-events: initial !important;
}

.dropdown div > a > p:hover {
  background: #323232;
  border-radius: 6px;
}

@media (max-width: 900px) {
  .contactUsOptions:first-child {
    border-right: none;
  }
  .contactus_dropdown {
    flex-direction: column;
  }
  .logo {
    height: 2.2rem;
  }

  .rightWrapper > img:first-child {
    display: none;
  }

  .navigation {
    display: grid;
    grid-template-rows: max-content 1fr;
  }

  .navigation .content ul {
    display: none;
  }

  .login,
  .button {
    display: none !important;
  }

  .lang {
    opacity: 0;
    transition: 0.25s ease-out;
  }

  .showLanguage {
    opacity: 1;
  }

  .right {
    gap: 1rem;
  }

  .dropdownMenu p {
    z-index: 5;
  }

  .mobileMenu > div:nth-child(2) > div:nth-child(1) {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;

    cursor: pointer;
    pointer-events: initial;

    display: flex;
    justify-content: center;
  }

  .mobileMenu > div:nth-child(2) > div:nth-child(2) {
    width: 100%;
    cursor: pointer;
    pointer-events: initial;

    display: flex;
    justify-content: center;
  }

  .mobItem {
    height: 2rem;
    overflow: hidden;
  }

  .mobListContent {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .headline {
    font-size: 1.4rem;
  }

  .subheadline {
    font-size: 1.2rem;
    max-width: 30rem;
    width: 100%;
  }

  .mobItem .mobListContent > .item {
    display: flex;
    /* align-items: center; */
    gap: 0.5rem;
  }

  .mobItem .mobListContent > .item > img {
    height: 16px !important;
    width: 30px;
    transform: translateY(5px);
  }

  .headline img {
    opacity: 1;
    transform: translateX(0px);
  }

  .mobMenu {
    position: relative;
    display: initial !important;
    cursor: pointer;
    pointer-events: initial !important;
    width: 25px;
    padding-block: 2.2rem;
  }

  .lineButton {
    position: absolute;
    width: 25px;
    right: 0;
    top: 0;
    height: 44px;
  }

  .light {
    margin-right: 1rem;
  }

  .line {
    top: 50%;
    width: 15px;
    height: 1px;
    position: absolute;
    right: 0;
    transition: 0.2s ease-out;
    /* transform-origin: left; */
    transform-origin: center;

    background-color: var(--text-color);
  }

  .line:nth-child(1) {
    transform: translateY(-5px);
  }

  .line:nth-child(3) {
    transform: translateY(5px);
  }

  .openLine:nth-child(2) {
    width: 0px;
    right: 12.5px;
  }

  .openLine:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .openLine:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .mobMenu img {
    width: 1.6rem;
  }

  .mobileButtonWrapper {
    display: initial;
    pointer-events: initial;
  }

  .mobileButtonWrapper > div {
    border-radius: 4px;
  }

  .mobileButtonWrapper > div > a > div {
    padding: 0.1rem 2rem;
    font-size: 1.2rem;
  }

  .dropdown {
    display: block;
    position: static;
    border: none;
    background: none;
  }
  .dropdown > div {
    border: none !important;
  }
  .gridContent {
    gap: 0 4rem;
  }
  .dropdown > div:first-child .gridContent {
    grid-template-columns: 1fr;
  }

  .dropdownMenuItem {
    align-items: center;
  }
  .dropdownMenuItem .body > p:last-child {
    display: none;
  }
  .products p,
  .resources p,
  .contactus p {
    padding-block: 0rem;
  }
  .products,
  .resources,
  .contactus {
    justify-content: space-between;
  }
  .dropdown * {
    padding-inline: 0 !important;
  }
}
