.input {
  padding: 3rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  display: grid;
  align-items: center;
  grid-template-columns: 26rem 1fr;
}

.inputRaw {
  grid-template-columns: 1fr;
}

.input p {
  font-size: 1.6rem;
}

.input input,
.attachment {
  outline: 0px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);

  font-size: 1.4rem;
  padding: 1.6rem 2rem;
  border-radius: 0.5rem;
  color: var(--white-color);
  position: relative;
}

.input input::placeholder {
  color: var(--gray-color);
}

.input input:focus {
  border: 1px solid var(--white-color);
}

.attachment {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  cursor: pointer;
}

.attachment .left {
  display: flex;
  gap: 1.5rem;
}

.attachment p {
  font-size: 1.4rem !important;
  color: var(--gray-color);
}

.hideInput {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.status {
  position: absolute;
  right: 2rem;
  font-size: 1.2rem;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio label {
  font-size: 1.6rem;
}

@media (max-width: 900px) {
  .input {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
  }

  .input p {
    font-size: 1.4rem;
  }

  .input input,
  .attachment {
    font-size: 1.2rem;
    padding: 1.4rem 1.5rem;
  }
}

@media (max-width: 900px) {
  .status {
    font-size: 1rem;
  }
}

.inputAuthentificator {
  display: flex;
  justify-content: space-between;
}

.inputSwitcher {
  position: relative;
  width: 5.625rem; /* 83px / 16 = 4.125rem */
  height: 2.815rem;
  border-radius: 20px;
  border: var(--gray-color) solid 2px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.625rem;
  width: 1.625rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: transparent;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--gray-color);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(2.875rem);
  -ms-transform: translateX(2.875rem);
  transform: translateX(2.875rem);
}

.slider .round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.OTPInput {
  background: transparent;
  width: 5rem;
  height: 7.5rem;
  margin-right: 3rem;
  border-radius: 1rem;
  outline: none;
  border: var(--gray-color) solid 0.3rem;
  color: var(--gray-color);
  box-sizing: border-box;
  padding: 1rem;
  font-size: 4.5rem;
}

.OTPInputWrap {
  margin-bottom: 2.5rem;
}
