.languages {
  cursor: pointer;
  position: relative;
  pointer-events: initial;
}

.languages img:first-child {
  width: 1.3rem;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu img {
  width: 1.7rem !important;
}

.languages p {
  margin-left: 0.7rem;
  margin-right: 0.5rem;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1rem);
  padding-top: 1.5rem;
  opacity: 0;
  transition: 0.5s ease-out;
  z-index: 100;

  pointer-events: none;
}

.body {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem !important;
}

.item {
  display: flex;
}
.label {
  margin-top: 2px;
}
.item p {
  pointer-events: none !important;
}

.languages:hover .dropdown {
  opacity: 1;
  transform: translate(-50%, 0rem);
  pointer-events: initial !important;
}

.item:hover p {
  opacity: 0.8;
}
