.button {
  padding: 0.5rem 2rem;
  width: 100%;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  color: white !important;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s ease-out;
  z-index: 1;
}

.button:hover .background {
  opacity: 0.6;
}

.textWrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.text {
  padding-top: 2px;
  color: var(--text-color);
}

.spinner {
  border: 3px solid var(--text2-color);
  border-top: 3px solid var(--text-color);
  border-radius: 50%;
  width: 1.3rem !important;
  height: 1.3rem !important;
  padding: 0 !important;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
