/* Import fonts */
@font-face {
  font-family: Axiforma;
  src: url(../assets/fonts/Axiforma-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Axiforma;
  src: url(../assets/fonts/Axiforma-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Axiforma;
  src: url(../assets/fonts/Axiforma-SemiBold.ttf);
  font-weight: 600;
}

/* Variable */
:root .dark {
  --lightBlack-color: rgb(38, 38, 38);
  --gray-color: rgba(255, 255, 255, 0.09);
  --hover-color: rgba(255, 255, 255, 0.09);
  --lightWhite-color: rgba(255, 255, 255, 0.04);

  --background-color: #111111; /* for main background */
  --bg2-color: #1f1f1f; /* for card background */
  --text-color: #f6f6f6; /* for primary text background */
  --text3-color: #e9e9e9; /* for special text background */
  --card-color: #272729; /* for card header background */
  --text2-color: #b1b1b1; /* for second text background */
  --border-color: #313131; /* for border */
}

:root .light {
  --lightBlack-color: rgba(38, 38, 38, 0.2);
  --gray-color: rgb(38, 38, 38);
  --hover-color: rgba(0, 0, 0, 0.09);
  --lightWhite-color: rgba(0, 0, 0, 0.04);

  --background-color: #f6f6f6; /* for main background */
  --bg2-color: #e9e9e9; /* for card background */
  --text-color: #111111; /* for primary text background */
  --text3-color: #696969; /* for special text background */
  --card-color: #e0e0e0; /* for card header background */
  --text2-color: #565656; /* for second text background */
  --border-color: #dadada; /* for border */
}

:root {
  --blue-color: #0784b5;
  --linear-color: linear-gradient(90deg, #1595c2 0%, #66bfde 100%);
  --success-color: #23c215;
  --error-color: rgb(228, 46, 0);

  --font-size: 0.694vw;
  --dashboard-font-size: 0.54vw;
  --font-size-small: 0.833vw;
  --dashboard-font-size-small: 0.65vw;
}

/* General */
html {
  font-size: 0.694vw;
}

@media (max-width: 1200px) {
  html {
    font-size: 0.833vw;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 2.5vw;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 11.1px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Axiforma;
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fontColor {
  color: rgba(255, 255, 255, 0.42) !important;
}

.dark .card {
  background: radial-gradient(
    circle,
    rgba(17, 16, 17, 1) 40%,
    rgba(22, 22, 22, 1) 100%
  );

  border: 1px solid rgba(255, 255, 255, 0.08);
}

.light .card {
  border: 1px solid rgba(0, 0, 0, 0.05);

  background: #fff;

  box-shadow:
    0px 18px 36px -18px rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(50, 50, 93, 0.25);
}

.dark .dateOption {
  background-color: transparent !important;
}

.light .dateOption {
  background-color: transparent !important;
}

.dark input,
.dark textarea,
.dark .option {
  border: 1px solid rgba(255, 255, 255, 0.08) !important;

  color: var(--text-color);
}

.dark input::placeholder,
.dark textarea::placeholder {
  color: rgba(255, 255, 255, 0.42) !important;
}

.light input,
.light textarea,
.light .option {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;

  color: var(--black-color) !important;
}

.light input::placeholder,
.light textarea::placeholder {
  color: rgba(0, 0, 0, 0.42) !important;
}

input.custom {
  border: none !important;
}

svg {
  display: block;
  fill: var(--text-color) !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gray-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Container */
.container {
  max-width: 111rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.dashboardContainer {
  max-width: 1800px !important;
  padding-left: 50px;
  padding-right: 50px;
}

.break {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

@media (max-width: 550px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .break {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

/* Text */
.standard {
  font-size: 1.6rem;
  line-height: 155%;
  font-weight: 400;

  opacity: 0.42;
}

h1 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 105%;
}

.gradient {
  background: linear-gradient(
    to right,
    var(--text-color) 20%,
    #0784b5 40%,
    #1595c2 60%,
    var(--text-color) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
  text-fill-color: transparent;
  background-position: 50% 50%;
  background-size: 500% auto;
  animation: textShine 2.5s ease-in-out infinite;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h2 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 115%;
}

h3 {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 115%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 3.5rem;
    line-height: 120%;
  }

  h2 {
    font-size: 2.5rem;
  }
}

.subtitle {
  background: var(--linear-color);
  -webkit-background-clip: text;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  -webkit-text-fill-color: transparent;
}

/* Card */
.card {
  border-radius: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Animation */

.hero > div:first-child {
  opacity: 0;
  transform: translateY(100px);
}

.hero > div:first-child {
  animation-name: move;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.hero > img,
.hero > video {
  transform: scale(0);
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.hero > img,
.hero > video {
  animation-name: scaleUp;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

nav {
  opacity: 0;
  animation-name: move2;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes move2 {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

.scroll {
  opacity: 0;
}

.scrollAnimation {
  animation-name: move;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.payroll .scroll {
  animation-name: initial !important;
  opacity: 1;
  transform: translateY(0);
}

.slide-left {
  opacity: 0;
  transform: translateX(25%);
}

.slide-right {
  opacity: 0;
  transform: translateX(-25%);
}

.slideAnimation {
  animation-name: slide;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-fill-mode: forwards;
}

@media (max-width: 600px) {
  .md-mob {
    display: none;
  }
}

/* Inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Dashboard */
.dashboard {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.dashboard-body {
  margin: 0 5rem;
}

.dashboard-table {
}

.dashboard-table ul {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.dashboard-table ul li {
  list-style-type: none;
  color: var(--text-color);
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.6;
}

.dashboard-table li:first-child {
  color: var(--text-color) !important;
}

.dashboard-table > div:first-child ul {
  padding: 0 3rem;
}

.dashboard-table > div:first-child li {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  opacity: 1;
}

.dashboard-table > div:last-child ul {
  padding: 1rem 3rem;
}

.dashboard-table > div:last-child {
  font-size: 1.2rem;
  font-weight: 400;
}

.dashboard-table > div:last-child ul:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 1100px) {
  .dashboard-table > div:first-child li {
    font-size: 1rem;
  }

  .dashboard-table > div:last-child li {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .dashboard {
    display: initial !important;
  }

  .dashboard-body {
    margin: 0 2.5rem;
  }

  .dashboard-table {
    width: max-content;
  }

  .dashboard-table li {
    padding-right: 2.5rem !important;
  }

  .dashboard-table > div:first-child li {
    font-size: 1.2rem;
  }

  .dashboard-table > div:last-child li {
    font-size: 1.4rem;
  }

  .slideAnimation {
    animation-name: move;
  }

  .slide-left {
    transform: initial;
  }

  .slide-right {
    transform: initial;
  }
}

/* LOGOS */

.move1,
.move2 {
  animation-name: moveLogo;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.move2 {
  animation-name: moveLogo2;
}

@keyframes moveLogo {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes moveLogo2 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.cryptoIconShow img {
  transform: scale(1) !important;
}

/* Unselectable (e.g. button text) */

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Loading animation */

.loadingAnimation {
  max-width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  margin: auto;
}

@media (max-width: 900px) {
  .loadingAnimation {
    max-width: 50%;
  }
}

.loadingAnimationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Margins */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.Toastify__toast-body {
  font-size: 1.4rem;
}

.Toastify__toast-theme--dark {
  background-color: var(--card-color, #272727) !important;
  border: 1px solid var(--border-color, #313131) !important;
}

.light .affiliate {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--border-color);
}
