.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: radial-gradient(
    64.62% 74.22% at 26.36% 14.29%,
    #1a1a1a 0%,
    #151515 50%,
    #101010 100%
  );
  border-radius: 25px;
  width: 100%;
  max-width: 53rem;
  padding: 5rem;
}

.card input {
  margin-bottom: 2rem;
}

.login img {
  height: 3rem;
}

.login h3 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info p {
  color: var(--text2-color) !important;
  margin-top: 2rem;
  font-size: 1.2rem !important;
}

.info a {
  text-decoration: underline;
}

.buttonWrapper {
  margin-bottom: 2rem;
}

.buttonWrapper > div {
  width: 100%;
}
@media (max-width: 650px) {
  .login {
    margin: 0 2.5rem;
  }

  .card {
    padding: 2.5rem;
  }

  .login h3 {
    font-size: 2.2rem;
  }

  .info p {
    font-size: 1rem !important;
  }
}
