.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
}

.description {
  font-size: 1.2rem;
  opacity: 0.6;
}

.right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.inputWrapper {
  position: relative;
  height: 100%;
}

.inputWrapperSearch {
  width: 1.2rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
}

.inputWrapper input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: white;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  width: 25rem;
  max-width: 100%;
  padding: 1rem 1.5rem 1rem 3rem;
}

.inputCloseWrapper {
  width: 20px;
  height: 20px;
  background-color: #faf9f6;
  position: absolute;
  top: 50%;
  left: 22rem;
  transform: translateY(-50%);
  border-radius: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.inputClose {
  width: 20px;
  height: 20px;
  padding: 5px;
}

@media (max-width: 900px) {
  .search {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
}
