.page-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
}

.personal-dashboard-body {
  padding: 0px 32px;
  position: relative;
}

.pageTitle {
  font-family: "DM-Sans";
  color: var(--text2-color, #b1b1b1);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.currency-option {
  gap: 4px;
  line-height: 1;
  /* border: 1px solid red; */
}

.ant-select-item-option-selected {
  background-color: transparent !important;
}

:where(.css-dev-only-do-not-override-1kuana8).currency-dropdown
  .ant-select-selector {
  line-height: 1;
}

:where(.css-dev-only-do-not-override-1kuana8).currency-dropdown
  .ant-select-selector
  .ant-select-selection-item,
:where(.css-dev-only-do-not-override-1kuana8).currency-dropdown
  .ant-select-selector
  .ant-select-selection-placeholder {
  line-height: 1;
}

.dashboard-language-container {
  border: 1px solid #202020;
  padding: 8px;
  border-radius: 6px;
}

.localisation-container {
  width: 20px;
}

.verticalDivider {
  height: 40px;
  margin-inline: 0px;
}

.profile-dropdown-width {
  min-width: 150px;
}

.user-block {
  gap: 8px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}
.user-block:hover {
  background-color: #202020;
}

.user-block-arrow {
  margin-left: 8px;
  width: 20px;
}
.user-block-arrow-down {
  margin-left: 8px;
  width: 20px;
}

.username-text {
  font-family: "DM-Sans";
  color: var(--text2-color, #b1b1b1);
  font-size: 14px;
}

.user-role-text {
  font-family: "DM-Sans";
  font-size: 14px;
  text-transform: capitalize;
}

.divider-without-margin {
  margin: 0;
}

.user-avatar {
  width: 32px !important;
  height: 32px !important;
}
.pageTitleMobile {
  padding: 24px 32px;
  font-size: 24px !important;
  padding-bottom: 4px;
}

.nefentus-logo {
  display: block;
}
.nefentus-logo-mobile {
  display: none;
}
.notificationIconMobileBtn {
  display: flex;
  align-items: center;
  padding: 8px;
}
.sideBarHide .notificationIconMobileBtn {
  display: none;
}

.switch-theme-mode.ant-switch-checked,
.switch-theme-mode.ant-switch-checked:hover {
  background: var(
    --Blue-gradient,
    linear-gradient(254deg, #078bb9 -56.92%, #52c8f1 148.25%)
  ) !important;
}

@media screen and (min-width: 1200px) {
  .pageTitleMobile,
  .mobileBtn,
  .nefentus-logo,
  .nefentus-logo-mobile {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .pageTitleDesktop,
  .verticalDivider,
  .profile-dropdown,
  .personal-dashboard-container .currency-dropdown,
  .personal-dashboard-container .language-container {
    display: none;
  }

  .mobileBtn {
    padding: 0;
    border: none;
    box-shadow: none;
    height: 24px;
  }
  .sideBarHide {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    max-width: 350px !important;
    flex: 0 0 350px !important;
    width: 100% !important;
    z-index: 9;
    transition: transform 0.3s;
    height: 100%;
  }
  .sideBarShow {
    transform: translateX(0);
  }
  .pageTitleMobile {
    padding: 24px 32px;
    font-size: 24px !important;
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 767px) {
  .nefentus-logo,
  .sidebar-nefentus-logo {
    display: none;
  }
  .nefentus-logo-mobile {
    display: block;
  }
  .sideBarHide .notificationIconMobileBtn {
    display: flex;
  }
  .sideBarHide {
    max-width: 100% !important;
  }
}
