.antiphishing-code-modal .ant-modal-content {
  padding: 0px;
}

.antiphishing-code-modal .ant-modal-header {
  margin-bottom: 0px;
}
.antiphishing-code-modal .ant-modal-title {
  padding: 16px;
  border-bottom: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
  border-radius: 4px 4px 0px 0px;
}

.antiphishing-code-modal .ant-modal-body {
  border-radius: 0px 0px 4px 4px;
  background: var(--BG, #111);
  box-shadow: 0px 4px 20.1px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.anti-phishing-cover {
}

.anti-phishing-list-lock {
  padding: 6px;
  border-radius: 6px;
  background: var(
    --grad,
    linear-gradient(262deg, #009bd2 -78.58%, #3b6b7c 188.93%)
  );
}

.anti-phishing-modal-desc {
  font-size: 12px;
}

.anti-phishing-input-container {
  padding-top: 20px;
}

.anti-phishing-input {
  padding: 7px 12px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020) !important;
  background: var(--BG2, #171717);
  box-shadow:
    0px 191px 53px 0px rgba(0, 0, 0, 0),
    0px 122px 49px 0px rgba(0, 0, 0, 0.01),
    0px 69px 41px 0px rgba(0, 0, 0, 0.02),
    0px 30px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 17px 0px rgba(0, 0, 0, 0.04);
}

.anti-phishing-save {
  margin-top: 10px;
  width: 100%;
  border: none;
  padding: 11.5px 0px;
  text-align: center;
  border-radius: 6px;
  background: var(--Blue, #078bb9);
  box-shadow: 0px 2px 9.9px 0px rgba(0, 0, 0, 0.19);
}
