.footer {
  border-radius: 0 !important;
}

.footerContainer {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.leftBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  display: flex;

  justify-content: space-between;

  gap: 10rem;
}

.left img {
  height: 3rem;
}

.content {
  display: flex;
  width: 100%;
}

.linkWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  gap: 3rem;
}

.linkBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-rows: max-content;
  gap: 2rem;
}

.linkBox p {
  font-size: 1.4rem;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.linkBox p:hover {
  opacity: 1;
}

.linkBox .contentLabel {
  font-size: 1.8rem;
  font-weight: 600;
  opacity: 1;
  pointer-events: none;
}

.linkBox:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.socialBox {
  background-color: rgba(255, 255, 255, 0.04);
  padding: 2rem 0 0 2rem;
}

.socialBox h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.icons img {
  opacity: 0.6;
  height: 1.6rem;
  cursor: pointer;
  transition: 0.5s ease-out;
}

.icons img:hover {
  opacity: 1;
}

.boxBottom {
  margin-top: 10rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.boxBottom p {
  line-height: 140%;
  opacity: 0.8;
}

.arrowWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  cursor: pointer;
}

.arrowWrapper svg path,
.arrowWrapper svg rect {
  transition: 0.5s ease-out;
}
.arrowWrapper:hover svg path {
  fill: rgb(7, 132, 181);
}

.arrowWrapper:hover svg rect {
  stroke: rgb(7, 132, 181);
}

.copyright {
  opacity: 0.4;
  line-height: 140%;
  font-weight: 400;
  font-size: 1.2rem;
}

.copyrightMob {
  display: none;
}

@media (max-width: 900px) {
  .footerContainer {
    grid-template-columns: 1fr;
  }

  .left {
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
  }

  .linkWrapper {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }

  .linkBox:nth-child(1) {
    border: 0;
  }

  .copyright {
    display: none;
  }

  .socialBox h3 {
  }

  .icons {
    gap: 3rem;
  }

  .socialBox img {
    height: 2rem;
  }

  .boxBottom {
    margin-top: 5rem;
    justify-content: space-between;
  }

  .copyrightMob {
    display: initial !important;
    margin-top: 4rem;
  }
}
