.feeContainer {
  display: flex;
  flex-direction: column;
}

.feeRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 0.4rem;
  font-size: 1.2rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: var(--lightBlack-color);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 100;
  top: 0%;
  left: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .feeRow {
    gap: 2rem !important;
  }
}
