.auth-form .ant-select {
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717) !important;
  box-shadow: 0px 3px 10.2px 0px rgba(0, 0, 0, 0.03);
}
.auth-form .ant-select-selector {
  background: var(--BG2, #171717) !important;
  padding: 0 12px !important;
  box-shadow: none !important;
}
.auth-form .ant-select-selector:focus-visible,
.auth-form .ant-form-item-control-input-content {
  outline: none;
}
.auth-form .phoneNumber .ant-select {
  max-width: 60px;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  height: auto !important;
}
.telephone-flag {
  width: 60px;
}
.telephone-number {
  width: 250px !important;
}
.phoneNumber {
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717) !important;
  box-shadow: 0px 3px 10.2px 0px rgba(0, 0, 0, 0.03);
  padding: 8px 12px;
}
.auth-form .phoneNumber .ant-select .ant-select-selector {
  background: none !important;
  padding: 0 !important;
  border: none !important;
}

.auth-form .phoneNumber .ant-input {
  padding: 0 !important;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
}
.authLayout .ant-col:has(.back-btn-role) {
  position: static;
}
