.titleHeader > div {
  flex-direction: row;

  align-items: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding-top: 2rem;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35vw;
  max-width: 90%;
}

@media (max-width: 900px) {
  .row {
    grid-template-columns: 1fr 1fr;
  }

  .modalInputs {
    width: 45vw;
  }
}

@media (max-width: 650px) {
  .titleHeader > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .row {
    grid-template-columns: 1fr;
  }

  .modalInputs {
    width: 100%;
  }
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*margin: auto;*/
}
.modal h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.modalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  cursor: pointer;
  margin-top: 20px;
}

.modalButtons > div {
  width: 100%;
}

.button {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
