.wrapper {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-direction: column;
}

.input {
  background-color: transparent;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 1rem 1rem;
  width: 30rem;
  color: white;
  appearance: none;
  border-radius: 0.5rem;
}

.input > option {
  background-color: #222 !important;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.8rem;
}

.label {
  font-size: 1.6rem;
}

.description {
  font-size: 1.2rem;
  opacity: 0.6;
}

.left {
  width: 45rem;
}

.right {
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-size: 1.4rem;
  opacity: 0.6;
}

.imageWrapper {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.enableIcon {
  height: 2rem;
}

.enableWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  opacity: 0.6;
  font-size: 1.4rem;
  padding-top: 3px;
}

.level {
  background-color: #16c172;
  font-size: 1.2rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
}

@media (max-width: 900px) {
  .itemWrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .left,
  .right {
    width: 100%;
  }
}

.QRCode {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 2rem;
}

.linkBox {
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border: var(--gray-color) 1px solid;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  cursor: pointer;
}

.url {
  font-size: 1.6rem;
  color: var(--white-color) !important;
  font-weight: 500;

  display: flex;

  transition: 0.3s ease;
}

.url:hover {
  opacity: 0.8;
}

.tooltip {
  position: absolute;
  margin-left: 20%;

  color: white;

  z-index: 1;
  animation: fadeout 10s forwards;
}

.copyLink {
  position: relative;
  padding: 1rem;
}

.modalTitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.modalSubtitle {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.buttons {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.inputItem {
  margin-top: 1.8rem;
}
