.button {
  gap: 2rem;
}

.button > div {
  width: max-content;
}

.wrapper {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-direction: column;
}

.left {
  width: 45rem;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  align-items: flex-start;
  width: 30%;
}

.title {
  font-size: 1.8rem;
}

.description {
  font-size: 1.2rem;
  opacity: 0.6;
}

.text {
  opacity: 0.6;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-top: 1px;
}

.dialogSubtitle {
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.dialogDescription {
  font-size: 1.2rem;
}
