.invoice-status-card {
  width: 32%;
}
.invoice-status-card .ant-card-body {
  padding: 16px;
  border-radius: 0 0 8px 8px;
}

.sales-invoice-title {
  font-size: 16px;
  font-weight: 500;
}

.invoice-line-bar-graph {
  display: flex;
  align-items: center;
  gap: 4px;
}

.invoice-line-bar-graph-section {
  height: 10px;
}

.invoice-line-bar-graph .invoice-line-bar-graph-section:first-child {
  border-radius: 6px 0px 0px 6px;
}

.invoice-line-bar-graph .invoice-line-bar-graph-section:last-child {
  border-radius: 0px 6px 6px 0px;
}

.invoice-status-container {
  width: 100%;
}

.invoice-row-color {
  border-radius: 2px;
  height: 26px;
  width: 4px;
}

.invoice-status-text {
  text-transform: capitalize;
}
@media screen and (min-width: 992px) {
  .invoice-status-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .invoice-status-card {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .invoice-status-container {
    flex-direction: column;
  }
  .invoice-status-content {
    justify-content: flex-start;
  }

  .income-card {
    min-width: 47.8%;
    height: auto;
  }

  .income-card:last-child {
    flex-grow: 3;
  }

  .sales-income-card-container {
    flex-wrap: wrap;
    gap: 12px;
  }
  .income-card-title {
    text-wrap: wrap;
  }
}
