.profileCard {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.profileCard .profileWrapper {
  flex: 1;
}

.profileCard .wallet {
  flex: 2;
}

.profileCard .plan {
  flex: 1;
}

.profileWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-right: 5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.light .profileWrapper {
  border-right: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.profileImage {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  overflow: hidden;
}

.profileImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main {
  font-size: 1.6rem;
}

.subtitle {
  font-size: 1.2rem;
  opacity: 0.6;
}

.link {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.link img {
  width: 0.8rem;
  opacity: 0.6;
}

.link .subtitle {
  transform: translateY(2px);
}

@media (max-width: 900px) {
  .profileCard {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .profileWrapper {
    padding-right: 0;
    border-right: 0px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    padding-bottom: 1rem;
  }

  .light .profileWrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
}
