.title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.lineWrapper {
  width: 100%;
  height: 2rem;
  display: flex;
}

.line {
  width: 100%;
  height: 100%;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  opacity: 0.6;
  font-size: 1rem;

  margin-bottom: 2rem;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.legendBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordWrapper {
  position: relative;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
}

.iconEye {
  display: flex;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.left,
.right {
  align-items: center;
  display: flex;
}

.left {
  gap: 1rem;
}

.right {
  justify-content: space-between;
  width: 12rem;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: translateY(-1px);
}

.modalWrapper > div > div {
  width: 50rem;
}
.modal {
  width: 50rem;
}

.modal h4 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 3rem;
}

.cancelButton {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.modalButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  cursor: pointer;
}

.modalButtons > div {
  width: 100%;
}
