.profileImage img,
.profileImage svg {
  border-radius: 50%;
  object-fit: cover;
  height: 2.5rem;
  width: 2.5rem;
}

.profileWrapper {
  cursor: pointer;
  position: relative;
  pointer-events: initial;
}

.profileItem {
  color: var(--white-color);
  margin-left: 0.7rem;
  margin-right: 0.5rem;
  padding-top: 2px;
  font-size: 1.2rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  transition: 0.5s ease-out;
}

.profileItem:hover {
  opacity: 0.6;
}

.profileItem p {
  transform: translateY(2px);
}

.profileItem img,
.profileItem svg {
  width: 1.6rem;
}

.profileDropdown {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 1rem);
  padding-top: 0.5rem;
  opacity: 0;
  transition: 0.5s ease-out;
  z-index: 100;

  pointer-events: none;
}

.profileBody {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 1rem !important;
}

.item {
  display: flex;
}

.item p {
  pointer-events: none !important;
}

.profileWrapper:hover .profileDropdown {
  opacity: 1;
  transform: translate(-50%, 0rem);
  pointer-events: initial !important;
}

.item:hover p {
  opacity: 0.8;
}
