.profileImage img,
.profileImage svg {
  border-radius: 0.4rem;
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}

.profileImage {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
}

.profileImage:hover {
  background: #202020;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.profile p:first-child {
  font-size: 1.4rem;
  color: #e9e9e9;
}
.profile p:last-child {
  font-size: 1.2rem;
  color: #b1b1b1;
}

.profileWrapper {
  cursor: pointer;
  position: relative;
  pointer-events: initial;
}

.profileItem {
  border-radius: 0.4rem;
  min-width: max-content;
  color: var(--white-color);
  padding: 1rem;
  font-size: 1.2rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  transition: 0.5s ease-out;
}

.profileItem:hover {
  background: #202020;
}

.profileItem img,
.profileItem svg {
  width: 1.6rem;
}

.profileDropdown {
  position: absolute;
  right: 0;
  transform: translate(0, 1rem);
  opacity: 0;
  transition: 0.2s ease-out;
  z-index: 100;
  pointer-events: none;
}

.profileBody {
  min-width: 110px;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 0.6rem !important;
}

.item {
  display: flex;
}

.item p {
  pointer-events: none !important;
}

.profileWrapper:hover .profileDropdown {
  opacity: 1;
  transform: translate(0, 0rem);
  pointer-events: initial !important;
}

.item:hover p {
  opacity: 0.8;
}

@media (max-width: 900px) {
  .profileWrapper {
    display: none;
  }
}
