.identification-field-subText {
  font-size: 12px;
}

.identification-upload-wrapper {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 6px;
  border: 1px dashed var(--Dark, #202020);
  background: var(--BG2, #171717);
  box-shadow: 0px 4px 6px 0px rgba(18, 18, 18, 0.15);
  position: relative;
}

.identification-upload-wrapper p {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  color: var(--Light-grey2, #b1b1b1);
}

.identification-upload-wrapper p span {
  color: var(--Blue, #078bb9);
}

input.identification-upload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -2;
}

.identification-uploaded-wrapper {
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--Dark, #202020);
}

.identification-file-name span {
  display: block;
  color: var(--light-grey, #e9e9e9);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

span.file-size {
  color: var(--Light-grey2, #b1b1b1);
}

.choose-file {
  color: var(--Blue, #078bb9);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  position: relative;
}

.choose-file input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.input-file-on-error,
.identification-trash-icon {
  cursor: pointer;
}

.preview-file-button {
  height: fit-content;
  padding: 5px 16px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--Dark, #202020);
  cursor: pointer;
  /* Button shadow */
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.download-file-icon {
  height: 30px;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--Dark, #202020);
  background: var(--BG2, #171717);
  box-shadow:
    0px 51px 14px 0px rgba(0, 0, 0, 0),
    0px 33px 13px 0px rgba(0, 0, 0, 0.01),
    0px 19px 11px 0px rgba(0, 0, 0, 0.03),
    0px 8px 8px 0px rgba(0, 0, 0, 0.04),
    0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.download-file-icon:hover {
  border-color: currentColor;
}

.identification-ant-upload .ant-upload-drag {
  background: transparent;
  border: none;
}

.identification-ant-upload .ant-upload-drag .ant-upload {
  padding: 0px;
}
