.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1.6rem;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
}

.toggle {
  background-color: #222836;
  width: 4rem;
  border-radius: 3rem;
  cursor: pointer;
  padding: 3px;
  transition: 0.5s ease-out;
}

.toggleCircle {
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  transition: 0.5s ease-out;
  background-color: white;
}

.activeToggle {
  background-color: #0784b5;
}

.activeToggle .toggleCircle {
  transform: translateX(100%);
}

.buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}

.cryptoItem {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.middle {
  position: absolute;
  left: 46%;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.left img {
  width: 2.5rem;
  transform: translateY(-2px);
}

.title {
  font-size: 1.4rem;
}

.subtitle {
  font-size: 1.1rem;
  opacity: 0.6;
}

.right {
  text-align: right;
}

.body > div:last-child {
  border-bottom: 0px !important;
  padding-bottom: 0;
}

@media (max-width: 900px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .buttonWrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .btn {
    order: 2;
  }

  .middle {
    position: static;
  }

  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
