.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 1.6rem;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.4rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 100px;
  max-width: 200px;
  background-color: var(--lightBlack-color);
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.toggle {
  background-color: #222836;
  width: 4rem;
  border-radius: 3rem;
  cursor: pointer;
  padding: 3px;
  transition: 0.5s ease-out;
}

.toggleCircle {
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  transition: 0.5s ease-out;
  background-color: white;
}

.activeToggle {
  background-color: #0784b5;
}

.activeToggle .toggleCircle {
  transform: translateX(100%);
}

.buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}

.cryptoItem {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.middle {
  position: absolute;
  left: 46%;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.left img {
  width: 2.5rem;
  transform: translateY(-2px);
}

.title {
  font-size: 1.4rem;
}

.subtitle {
  font-size: 1.1rem;
  opacity: 0.6;
}

.right {
  text-align: right;
}

.body > div:last-child {
  border-bottom: 0px !important;
  padding-bottom: 0;
}

.walletInfoWrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.walletLogoWrap {
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.walletLogo {
  height: 2rem;
  margin-right: 0.3rem;
  vertical-align: baseline;
}

.walletTitle {
  font-size: 1.4rem;
  width: 12rem;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .top {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .walletInfoWrap {
    gap: 10px;
  }

  .buttonWrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .btn {
    order: 2;
  }

  .middle {
    position: static;
  }

  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}

.modal h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.modalButtons {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.modalButtons > div {
  width: 100%;
}

.button {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.receiveModalDescription {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-top: -1rem;
  color: rgba(255, 255, 255, 0.8);
}
