.network-row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
}

.network-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.network-row-color {
  border-radius: 2px;
  height: 26px;
  width: 4px;
}
