.card {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.6rem;
}

.chart {
  min-height: 25rem;
  height: 100%;
}

.graphCard {
  padding: 3rem 3rem 5rem 3rem;
  border-radius: 1rem;
}

.card .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.5rem;
}

.graphAmount {
  font-size: 3rem;
  font-weight: 500;
  color: var(--white-color);
}

.datePicker {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  align-items: center;
  cursor: pointer;
}
.datePicker p {
  line-height: 20px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0.5rem;
  background-color: #4caf50;
  color: white;
  z-index: 1;
  animation: fadeout 10s forwards;
}

.chartContainer {
  display: flex;
  width: 100%;
  height: 32rem;
  overflow: hidden;
}

.dropdownWrap {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.dropdownBorder {
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 8%);
}

.dropdownBorder > div > div {
  background-color: #222 !important;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .graphCard {
    padding: 2rem 2rem 3.5rem 2rem;
  }

  .graphCard .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .datePicker {
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .graphAmount {
    font-size: 2rem;
  }

  .chartContainer {
    display: flex;
    width: 100%;
    height: 15rem;
    overflow: hidden;
  }
}
